[2016-03-24 04:00] LeaderChange opened #1 "How can I add red point in the bottom item?"
When a new message pullsh to app, I want show something (just like red point number) in my bottom item what should I do?

[2016-03-24 05:11] Ashok-Varma commented on #1
you can download the library and customise the layouts based on your requirements.
That's a good feature may be i will implement in late releases. But now there are some high priority features, i need to push to library.

[2016-04-15 01:37] igor-brishkoski commented on #1
@LeaderChange I needed that functionality too, opened up a PR for @Ashok-Varma that address this problem

[2016-04-15 01:39] Ashok-Varma commented on #1
@LeaderChange @igor-brishkoski
I will check the code to night and update library by this weekend (2 days more).

[2016-04-15 13:29] igor-brishkoski commented on #1
you mean branch of master instead of forking?

[2016-04-15 14:10] Ashok-Varma commented on #1
@igor-brishkoski yes, so it's easy to compare and maintain stuff. I pinged you check your mail once.

[2016-04-21 21:05] asebak commented on #1
this would be great to have.

[2016-04-22 10:42] CarlosCaceres86 opened #5 "vertical mode?"
I know that it's a **bottom** navigation bar, but it would be nice if it supports "vertical mode".

[2016-04-23 03:15] Ashok-Varma commented on #5
We will definitely have this in our to-do list, but this will take some time. Now we are working hard to bring badges and FAB, SNACK_BAR support to the library.

[2016-04-23 05:42] Bigmercu commented on #5
I am waiting for the vertical mode too.can you please tell me when you can done this?

[2016-04-25 03:24] Ashok-Varma commented on #1
@asebak @igor-brishkoski @LeaderChange
Done the changes you can use badges by importing library 1.1.0

[2016-04-25 03:24] #1 closed

[2016-04-25 20:25] asebak opened #6 "Programmatically click on a tab"
How to programatically click on a tab?

[2016-04-26 00:38] Ashok-Varma commented on #6
@asebak
you can call method selectTab(newPosition) on bottomNavigationBar.

These are the two methods you can use :

[code]

[2016-04-26 01:23] asebak commented on #6
@Ashok-Varma thanks a lot

[2016-04-27 07:34] lowfiend opened #7 "Bottom Navigation label"
I find
  labelView.animate().scaleY(1).scaleX(1).setDuration(animationDuration).start();

when selected Is it possible like this?

![Alt text](http://i.imgur.com/a7QhPFi.png?1 "")

thanks

[2016-04-27 10:04] Ashok-Varma commented on #7
@lowfiend
no it is not, we are just animating label i.e title text as per material bottom navigation guidelines

[2016-04-27 10:06] lowfiend commented on #7
Because effect is cool. thanks

[2016-04-27 10:51] Ashok-Varma commented on #7
yeah but it looks like ios, it confuses Android users and also material design will be mising

[2016-04-27 11:30] lowfiend commented on #7
I forgot where I found project with android,so I searching similar with Google,but I found iOS screenshot

[2016-04-28 16:49] asebak commented on #6
@Ashok-Varma I tried that and get the following error:
`    Caused by: java.lang.IllegalStateException: Cannot start this animator on a detached view!
                                                                                         at android.view.RenderNode.addAnimator(RenderNode.java:858)
                                                                                         at android.

[2016-04-28 16:50] asebak opened #8 "Add TabChangeListener Documentation"
In the documentation you accidentally put a [ symbol in the code it should be } in the Add TabChangeListener section of the readme.

[2016-04-29 00:21] Ashok-Varma commented on #8
is it the one in onTabUnselected method, changed that will be pushing in the next update

Thankyou

[2016-04-29 00:29] Ashok-Varma commented on #6
@asebak
Two Cases :
1) if you want to select a tab immediately on app open : you can set it using setFirstSelectedPosition before calling initialise on bottomNavigationBar.
 2) once initialise is called then if you want to select a tab, you need to use one these two methods.

Thanks for reporting the bug i will fix it in next update. For now you can follow cases mentioned above based on your requi

[2016-04-29 00:29] #7 closed

[2016-04-29 03:28] #8 closed

[2016-04-29 19:39] asebak commented on #6
It doesnt work, I tried using setFirstSelectedPosition(1)

when I use   bottomNavigationBar.selectTab(1, true); it never calls the listener and the second parameter is true

[2016-04-29 20:00] Ashok-Varma commented on #6
@asebak
can you post your code to setup bottomBar. So i can check where it went wrong.

[2016-04-29 20:34] asebak commented on #6
`  bottomNavigationBar = (BottomNavigationBar) findViewById(R.id.bottom_navigation_bar);

        if (bottomNavigationBar != null) {
                bottomNavigationBar.addItem(new BottomNavigationItem(x0,y0)
            bottomNavigationBar.addItem(new BottomNavigationItem(x1,y1)
            bottomNavigationBar.addItem(new BottomNavigationItem(x2,y2)
                 bottomNavigationBar.setMode(Bo

[2016-04-30 03:19] Ashok-Varma commented on #6
@asebak

since you already set setFirstSelectedPosition to 1, current selected position is 1. so if you call ```selectTab(1, true)``` then onTabReslected will be called.

So remove setFirstSelectedPosition then onTabSelected will be called

[2016-05-02 02:49] Ashok-Varma commented on #6
@asebak is it working ??
i am closing the issue if it is not working reopen and let me know and update library to 1.1.1. I already pushed it and i will update Read.me soon thankyou

[2016-05-02 02:49] #6 closed

[2016-05-05 01:10] jt-gilkeson opened #11 "Elevation and Shadow support"
Per the material design spec this component should have a default elevation of 8dp and cast a shadow upwards on to the content above it - it doesn't seem to do that currently regardless of elevation being set in the layout or in code.

[2016-05-05 01:14] jt-gilkeson opened #12 "CoordinatorLayout support"
Per the material design spec:
The bottom navigation bar can appear and disappear dynamically upon scrolling:

Scrolling downward hides the bottom navigation bar
Scrolling upward reveals it

Should work like the FAB or toolbar where you can set an attribute and have it translate itself in and out of the view.

[2016-05-05 03:15] Ashok-Varma commented on #11
@jt-gilkeson Elevation an shadow support is only available for android Lollipop and above. This release i am adding it mostly by monday i will release new update.

[2016-05-05 03:19] Ashok-Varma commented on #12
@jt-gilkeson it is already doing that right. it auto-matically hides/un-hides on scrolling

[2016-05-05 03:43] jt-gilkeson commented on #12
@Ashok-Varma Do you have an example of how to enable that?  I have it in an activity that has a coordinatorlayout with a toolbar that hides when I scroll, but don't know how to get BottomNavigation to do that also.

[2016-05-05 03:49] Ashok-Varma commented on #12
@jt-gilkeson
1) this should be direct child to Co-ordinatorLayout
2) need to use nestedscrollview instead of scrollview (any view which is subclass to nestedscrollchild works i. e recyclerview, nestedscrollview ..etc)

[2016-05-05 05:23] jt-gilkeson commented on #12
@Ashok-Varma Ahh that must be the problem, I have a relativelayout inside of coordinatorLayout.  Thanks for the explanation.

[2016-05-05 05:26] Ashok-Varma commented on #12
@jt-gilkeson
welcome,
i am closing this issue for now. If you have any issue even after doing that feel free to reopen the issue and comment.

[2016-05-05 05:26] #12 closed

[2016-05-05 12:58] Ashok-Varma commented on #11
@jt-gilkeson closing this, i pushed the code but final release will be on monday mostly

[2016-05-05 12:58] #11 closed

[2016-05-05 18:08] jt-gilkeson opened #15 "Tab Selection Listener issues"
Made a pull request https://github.com/Ashok-Varma/BottomNavigation/pull/13 with the following changes:

Changed OnTabSelectedListener to be called **after** the internal change has been made (like ViewPager and TabLayout implementations)

Added SimpleOnTabSelectedListener

[2016-05-05 18:09] jt-gilkeson opened #16 "Attribute support"
Instead of calling a bunch of methods to set the colors and mode, it would be nice to be able to set the values in the XML.

I've added a pull request that implements this https://github.com/Ashok-Varma/BottomNavigation/pull/14

[2016-05-05 23:56] jt-gilkeson opened #17 "Distance between icon and text does not look right"
I think there is an issue with the layout for the icon and text for fixed mode - specifically it looks like there is much less distance between the bottom of the icon and the top of the text than the spec shows.

I think this fixes it:

   FrameLayout
        android:layout_width="@dimen/fixed_icon_badge_grid_width"
     **android:layout_height="30dp"**
     **android:paddingTop="6dp"**
        an

[2016-05-06 00:05] jt-gilkeson commented on #17
Created a pull request with the fix for this

[2016-05-06 00:58] Ashok-Varma commented on #17
@jt-gilkeson thankyou very much for the support.
But don't create new issue for these, once a pull request is created you can give the explanation there itself. it will be easy to track and maintain
Thank You

[2016-05-06 01:13] #17 closed

[2016-05-06 01:13] #16 closed

[2016-05-06 01:14] #15 closed

[2016-05-07 00:08] jt-gilkeson opened #20 "Shadow not being cast upwards properly"
The shadow being cast by the bottom navigation bar is a normal shadow (like on a button) - the problem is that if you look at the bottom navigation bar material design guidelines and Google Photos you'll notice that the shadow for bottom bars is supposed to be reversed - being cast upwards.

I'm not sure what the "right" way to do this is.

Here's a couple stack overflows that show techniques to m

[2016-05-07 02:15] Ashok-Varma commented on #20
@jt-gilkeson
I already checked google photos. Its not elevation, they added normal shadow view.
When you on the layout bounds. AppBar and also our bottom bar do not consume shadow space because we use the outline.
But if you check the google photos even the shadow us occupying the some space in layout. They added normal XML shadow mostly.
We can't do that since we need to still sync bottom bar wit

[2016-05-18 08:44] nimdanoob opened #25 "The item text didnt hide when i quickly switch between tabs"
see this screenshot [pic](http://7xq84c.com1.z0.glb.clouddn.com/bug.png)

[2016-05-18 10:02] Ashok-Varma commented on #25
@nimdanoob Thanks, i was able to check the issue i will fix and update the library this weekend.

[2016-05-21 10:46] vc2402 opened #26 "unselect tab"
Sometimes it is required to unselect selected item without selecting new one. As a option it may be realized by using index = -1 in selectTab

[2016-05-21 15:27] Ashok-Varma commented on #26
@vc2402 Will look in to that, Can you tell me exact use case.
Because it is not recommended by google

[2016-05-22 12:37] vc2402 commented on #26
@Ashok-Varma Sometimes there are less frequent actions, that may be selected from e.g. Drawer. As example may be mentioned Google + application: it is possible to select Calendar from Drawer and the selected tab becomes unselected.

[2016-05-22 14:16] Ashok-Varma commented on #25
@nimdanoob pushed latest version with bug fix. You can import 1.2.1 library

[2016-05-22 14:16] #25 closed

[2016-05-23 05:30] lvtanxi opened #27 "Not selected TAB Settings"
Not selected in the Tab can set the drawable and textcolor himself?

[2016-05-23 07:09] Ashok-Varma commented on #27
@lvtanxi yes
to bottomBarItem you can set different icon for inactive and active states. and give the text color as active and inactive color

[2016-05-23 09:16] #27 closed

[2016-05-23 18:00] eclipsegst opened #28 "handle rotation state"
I'm not sure if we have this feature or not. But it would be nice if we can save state like sliding tab bar when rotating device. Currently, when I rotate the device, it still shows the correct fragment. But the selected tab is always in 0 position whenever rotating device.

[2016-05-23 18:41] Ashok-Varma commented on #28
@eclipsegst this is major bug fix. This will be done in next version update mostly this weekend.

[2016-05-24 11:50] Florianisme opened #29 "Ripple not working when primaryColor is white"
Hi, this is my implementation:

`<com.ashokvarma.bottomnavigation.BottomNavigationBar
android:layout_alignParentBottom="true"
android:id="@+id/bottom_navigation_bar"
android:layout_width="match_parent"
android:layout_height="wrap_content"
app:bnbBackgroundStyle="background_style_static"
app:bnbBackgroundColor="@color/colorPrimary"
app:bnbMode="mode_fixed"/>`

The problem is that no ripple is shown

[2016-05-24 12:26] Ashok-Varma commented on #29
@Florianisme I will look in to the issue and if it is a bug i will try to fix it as soon as possible.
If you can share your code snippet for the bottomTabs setup it would be really helpful.

Thankyou for using the library

[2016-05-24 12:33] Florianisme commented on #29
It's the setBottomNavigationBar method at the end of this file https://github.com/Florianisme/Aperture/blob/master/app/src/main/java/com/florianisme/aperture/MainActivity.java

[2016-05-24 17:37] Florianisme opened #30 "Cut off Text"
Sometimes, the items title is cut off like in this example:
https://goo.gl/photos/aQz2fQ5qHw7aq67S9

The code which has been used is exactly the same as in the previous issue with the missing ripple.

[2016-05-24 18:08] Ashok-Varma commented on #29
Which ripple due you need exactly ??
https://github.com/Ashok-Varma/BottomNavigation#bottomnavigationbar-customizations
you need to apply app:bnbBackgroundStyle and app:bnbMode according to your requirment

[2016-05-24 18:09] Ashok-Varma commented on #30
@Florianisme i will look in to that and before that can you give me your device specifications

[2016-05-24 18:35] Florianisme commented on #29
I just need the normal ripple as if you selected something in android when using the static mode.

[2016-05-24 21:35] Florianisme commented on #30
I'm using the OnePlus One 64GB, DPI is set to default and no font settings have been changed

[2016-05-25 17:42] EpsilonOrionis opened #31 "Add badge later"
Is it possible to add a badge for a specific tab, when the BottomBar is already created?

[2016-05-25 18:05] Ashok-Varma commented on #31
you can Add the badge before creating the BottomBar. and make the badge hide. whenever requires you can call show.

**Here is the sample code snippet.**
1. First during Initialisation :
[code]
2. When ever you need the badge :
[code]

[2016-05-26 02:03] Ashok-Varma commented on #31
@EpsilonOrionis if it works you can close this issue

[2016-05-26 02:05] Ashok-Varma commented on #30
@Florianisme thank you i will take a look in to the issue.

[2016-05-26 08:45] #31 closed

[2016-05-26 13:38] EpsilonOrionis opened #32 "It is in conflict with other libraries i think"
When I add this library I get a ClassDefNotFoundError in another library, if I don't use this library everything works. How's it possible? Only with preLollipop devices

[2016-05-26 14:09] Ashok-Varma commented on #32
@EpsilonOrionis can you send me the exact Log. i will let you know the issue

[2016-05-26 14:46] EpsilonOrionis commented on #32
E/AndroidRuntime: FATAL EXCEPTION: main
                                                                        java.lang.NoClassDefFoundError: org.joda.time.tz.ZoneInfoProvider
                                                                            at org.joda.time.DateTimeZone.getDefaultProvider(DateTimeZone.java:514)

[2016-05-26 16:35] Ashok-Varma commented on #32
@EpsilonOrionis i don't think it's this library issue.

If you enable progaurd this might happen. It's other library's issue you can check this link : https://github.com/dlew/joda-time-android/issues/36

[2016-05-26 17:16] #32 closed

[2016-05-26 17:27] Ashok-Varma commented on #32
@EpsilonOrionis is it fixed ??

[2016-05-27 09:37] jt-gilkeson commented on #29
I think I'm seeing the same issue.  In the sample app if you click on MODE_FIXED and BS_STATIC it shows a ripple when you click on an item (as expected).  In my app, I have the following set and don't see a ripple when I select an item.  Same thing if I click the selected item - in the sample app it shows another ripple as feedback, but in mine no feedback is shown.

[code]

[2016-05-27 10:16] Ashok-Varma commented on #29
@jt-gilkeson @Florianisme i was able to reproduce this issue.

1) This is only happing when i use xml attributes for mode and background_style . Some code issue with xml attributes. Thanks for reporting.

You guys can try setting the background style and mode in code for now. I will look in to this weird issue

[2016-05-27 10:27] jt-gilkeson commented on #29
Using no xml attributes and setting the mode to fixed in code didn't seem to work for me either :(  I still get no ripples.

[2016-05-27 11:37] Ashok-Varma commented on #29
Mode and background_style also remove from XML. it worked.But I will reverify and let you know

[2016-05-27 15:01] talentsxh opened #33 "can help？"
I would like to click on the item to change the picture and title。

[2016-05-27 20:03] jt-gilkeson commented on #29
Shouldn't the bottom_navigation_bar_overLay have the following set default in bottom_navigation_bar_container.xml?

`android:visibility="gone"`

Making that change fixed the issue for me.

[2016-05-27 20:21] jt-gilkeson opened #34 "Double Ripple"
In the sample app, if you choose MODE_SHIFTING and BS_STATIC, the first time you select items they sometimes show a double ripple effect (one ripple for the entire shifted area, and one for the tab item).  the second time you select a tab it no longer has the double ripple.

Once you have  MODE_SHIFTING and BS_STATIC, you can make it happen over and over if you simply click on 5 items (to re-init)

[2016-05-27 21:34] Ashok-Varma commented on #29
both are almost same

[2016-05-27 21:37] Ashok-Varma commented on #34
@jt-gilkeson can you add a video i can't exactly understand the issue.

[2016-05-28 01:10] jt-gilkeson commented on #34
http://tinypic.com/r/icmut5/9

The first and the last time in the video when I press the "Books" tab it does the double ripple.

[2016-05-28 03:36] Ashok-Varma commented on #34
in used Android tool(https://github.com/mortenjust/androidtool-mac) to record the video and then converted video to GIF using (http://ezgif.com/video-to-gif).

[2016-05-28 03:40] jt-gilkeson commented on #34
Thank you for the into.

I updated the original comment with a little more info about the two types of ripples I see (tab - small) (shift area - larger).  The double ripple looks like both areas draw the ripple at the same time (small and larger simultaneously).  Like I said it only seems to happen (sometimes - it's not consistent) the first time you click on each tab after re-initializing - once

[2016-05-28 04:06] Ashok-Varma commented on #34
@jt-gilkeson i think i might have the reason why is that happening. i will check and let you know by night

[2016-05-28 04:07] Ashok-Varma commented on #33
@talentsxh you can do this by setting onTabSelectedListener and write your code in on tabselected

[2016-05-28 12:00] EpsilonOrionis commented on #32
Yes, it was a multidexing problem

[2016-05-28 12:03] Ashok-Varma commented on #32
@EpsilonOrionis thanks for conforming.

[2016-05-28 14:16] talentsxh commented on #33
In the end, I was the one to solve this problem, but I do not know what will be the problem, after all, I just want to change a picture.This should not have any problems. Forgive me for a beginner.  I really appreciate your help.

like this：
public void onTabSelected(int position) {
        switch (position){
            case 0:
                navigationBar.clearAll();
                navigationB

[2016-05-29 16:38] Ashok-Varma commented on #33
@talentsxh my picture you mean icon ??
if you need to change the icon of tab you set different icons for selected and unSelected tabs to the BottomNavigationItem.
_code snippet :_
[code]
the default icon will be when selected Tab icon and InactiveIcon will be the unSelected Tab icon

[2016-05-30 08:27] sicksand opened #35 "Change Text size"
Hi, how do I change textsize?

[2016-05-30 10:03] Ashok-Varma commented on #35
@sicksand This feature will reflect in next update mostly tomorrow night. I will ping you once it is done.

[2016-05-30 12:54] sicksand commented on #35
Cool! Will close this.

[2016-05-30 14:57] Albertorio opened #36 "Change Text Color"
How can I change the color of the text below the icon?

[2016-05-30 15:04] Albertorio commented on #36
Never mind, I found it.

[2016-05-30 15:04] #36 closed

[2016-05-31 05:32] vs791019223 opened #37 "How to set in proguard-rules ?"
help me.

[2016-05-31 05:33] Ashok-Varma commented on #37
this library needs no proguard rules. you can use library without progaurd

[2016-05-31 05:44] Ashok-Varma commented on #30
@Florianisme fixed the issue today night update will include fixes to both your bugs.
Thanks for your support.

[2016-05-31 06:05] Ashok-Varma commented on #35
I will close this once it's done.

[2016-05-31 06:08] #29 closed

[2016-05-31 06:08] #30 closed

[2016-05-31 06:15] Ashok-Varma commented on #34
@jt-gilkeson i can't reproduce this bug. I think this is default behaviour which are mentioning.

[2016-05-31 06:23] Ashok-Varma commented on #29
@Florianisme @jt-gilkeson 1.2.2 is out with the fix.

[2016-05-31 06:23] Ashok-Varma commented on #30
@Florianisme 1.2.2 is out with the fix.

[2016-05-31 06:25] Ashok-Varma commented on #31
in 1.2.2 you can call hide on badge before attaching it to the bottomNavigationBar.

**Here is the sample code snippet.**
1. First during Initialisation :
[code]
2. When ever you need the badge :
[code]

[2016-05-31 07:32] jt-gilkeson commented on #34
This is different than the tap and hold scenario - when you tap and hold a new tab you will see a ripple fill the the **small** area slowly - that is normal behavior. If you tap and hold an already selected tab, you will the ripple fill a **large** area slowly - again normal behavior.  The bug is if you re-initialize if you tap a new tab (without holding) you will sometimes (not often - it's rare)

[2016-05-31 09:57] Ashok-Varma commented on #34
@jt-gilkeson Ok. i was not able to reproduce, sorry for bothering too much. But can you just write the pattern to reproduce something like
[code]
where tabs range is 1,2,3,4,5.

[2016-05-31 11:55] adilkhan95 opened #38 "How to change Item Icon size, Text size and Badge size, because on my device it's looks very small?"

[2016-05-31 13:53] Ashok-Varma commented on #38
@adilkhan95 those sizes are taken from google material design specs (https://www.google.com/design/spec/components/bottom-navigation.html). in future we might provide a way to change them but for now we will stick with material design guide lines

[2016-05-31 13:57] Ashok-Varma commented on #35
closing this for now .this will be tracked with #38 issue which is like superset to this

[2016-05-31 13:57] #35 closed

[2016-06-01 12:20] EpsilonOrionis commented on #31
Thanks :+1:

[2016-06-02 02:30] #33 closed

[2016-06-02 02:30] #37 closed

[2016-06-04 12:30] adilkhan95 opened #39 "How to make tab just active not select"

[2016-06-08 03:11] fishwjy opened #40 "How to forbidden the Bottom Navigation scroll to hide when pull up the content view"
I know it's a very nice experience to hide the bottom navigation automatically when user go through the content especially the content is a long list.
However, in some project of mine, the user want to fix the bottom navigation.
So how to deal with it? Thanks a lot.

[2016-06-08 03:19] fishwjy commented on #40
Oh, I found the answer. If the content view isn't the NestedScrollView, it will be what I want.
But still hope the feature can be set by a function method.

[2016-06-08 07:46] Ashok-Varma commented on #40
@fishwjy these are default behaviours of bottomNavBar. you can switch these off any time, by setting the co-ordinator layout behaviours to null

[2016-06-11 17:11] abdulrahmanmajeed opened #41 "Need Requested Feature"
Hi Bro , great work and really like your library , only one request to you is it possible to update library for more than 5 items and if more than 5 then arrow key appear and we can press arrow key or swipe RTL to view other options

[2016-06-14 11:31] hussam996 opened #42 "Strange behavior"
![device-2016-06-14-141211](https://cloud.githubusercontent.com/assets/7525662/16041017/e9280048-323b-11e6-90b0-e4bbd2b9e3fc.png)

Strange behavior when I try my app in android 4.1.2 , Am notice when I begin touch inside tab something black line around tab appear..when I finish disappear

[2016-06-14 19:24] Ashok-Varma commented on #42
@hussam996 yeah really strange. Let me look in to it.

can i see the code snippet you used ? and is it only occurring in this version(4.1.2) or all pre-lollipop versions

[2016-06-19 08:39] tejalshah84 opened #43 "Unable to set colors"
Hi there - Thanks for the library. I am not able to set custom color to the bottom bar background and icons when active/inactive. The background always is white and the unselect color is always grey.

 bottomNavigation
                .addItem(new BottomNavigationItem(R.drawable.ic_home, "Home"))
                .addItem(new BottomNavigationItem(R.drawable.ic_search, "Search"))
                .ad

[2016-06-19 08:47] tejalshah84 commented on #43
My color resource file:

<color name="colorPrimary">#a1d5da</color>
    <color name="colorPrimaryDark">#a1d5da</color>
    <color name="colorAccent">@color/white</color>
    <color name="white">#FFFF</color>
    <color name="seagreen">#75ceaf</color>
    <color name="teal">#a1d5da</color>
    <color name="turquoise">#13B1C1</color>

[2016-06-19 08:50] tejalshah84 commented on #43
My color resource file.....(the tags are closed in my file...needed to paste like this so github retains format)
<color name="turquoise">#13B1C1
<color name="white">#FFFF
<color name="teal">#a1d5da

[2016-06-19 08:51] tejalshah84 commented on #43
My color resource file.....(the tags are closed in my file...needed to paste like this so github retains format)
name="turquoise" #13B1C1
name="white" #FFFF
name="teal" #a1d5da

[2016-06-19 14:02] Ashok-Varma commented on #43
@tejalshah84 thanks for the feedback.

You need to do all the customisation before calling initialise. So you need to add the colors and set modes before calling initialise. Planning to improve this in future versions, i will do it as soon as possible.

[2016-06-19 15:34] Florianisme opened #44 "App crashes when using vectors as drawables"
I'm using vectors in my drawable folder and the app crashes when I try setting a vector as a drawable of an BottomNavigationItem like so:

`bottomNavigationBar.addItem(new BottomNavigationItem(getResources().getDrawable(R.drawable.ic_categories), R.string.navigation_categories)).initialise();`

My vector drawable is a normal svg which was converted by AS to the default compiling format:

`<vector

[2016-06-19 17:33] tejalshah84 commented on #43
Thank you Ashok. That worked. I had been struggling with bottom bar for a while, your library works really well.

I intend to have the clicks of the bottom bar associated with fragments. So in the methods onTabSelected, Unselected, etc ...I assume I would go about exchanging and adding fragments.

Also, instead of changing icon color on active, is there any way I can change tab background color in

[2016-06-20 01:31] Ashok-Varma commented on #43
Question 1 :

if you click on tab that was already selected => reselect will be called.
if you select any tab other than selected one => respective selected and unselected will be called.
this is necessary because in many cases people on need to do anything onTabReselect. But if we call select and unselect at that time unnecessary things happen (in your case same fragment will be detached and atta

[2016-06-20 01:45] Ashok-Varma commented on #44
@Florianisme
i will check the issue. can you post the crash log.

[2016-06-20 02:09] tejalshah84 commented on #43
Thank you again for the prompt clarification. For the second question, Sorry I didn't explain the question clearly. I do not want to change the icon color. I want to change the color of the fixed width tab's background color only for the selected tab but want the background color for the unselected tab's to be the original nav bar color. Almost like each tab is a button and I change the button bac

[2016-06-20 02:38] Ashok-Varma commented on #43
@tejalshah84 currently you cannot do that with this library. A **new background mode** needs to be added in order to do that. I will consider this option soon, but there are other priority features which needs to be completed before this. So, it will take time.

[2016-06-20 02:55] tejalshah84 commented on #43
Thank you again. Your library works like a charm! Just tested it out.

Is there way I could tweak the code to add this background color myself?

Also if I want to add animation on fragment exchange, I guess I would add to the onTabSelect method.

[2016-06-20 03:04] Ashok-Varma commented on #43
- yes fragment animations can be done in onTabSelected.
- you can add new background mode and do the stuff you need in select() and unselect() methods of BottomNavigationTab.java or it's derivatives.

[2016-06-20 07:16] jacorpski commented on #44
Instead of using getDrawable(R.drawable.id), then use R.drawable.id instead, it's working fine for me

[2016-06-20 08:13] Ashok-Varma commented on #44
@jacorpski other functionalities working fine ? like active color, in-active color and other animations?

I will test vector drawables case this weekend. But just curious how other functionalities are working.

[2016-06-20 08:26] jacorpski commented on #44
@Ashok-Varma I haven't seen any problems so far, so it's working fine

[2016-06-21 16:33] tejalshah84 commented on #43
Thank you :)

[2016-06-21 16:33] #43 closed

[2016-06-21 23:05] jt-gilkeson opened #45 "Toggle hide breaks scrolling behavior"
Scroll sample app down so that bottom bar disappears, click toggle hide (bar re-appears), scroll down again - bar does not disappear.  If you scroll up and then down again it fixes itself.

When you unhide the bar you should be able to scroll down and have it hide again.

Seems like the bar gets into the wrong state in BottomVerticalScrollBehavior   (Appears calling hide and unhide doesn't update

[2016-06-22 02:15] jt-gilkeson commented on #34
What you've described is pretty much accurate. It's hard to reproduce but that is the key, just keep reinitializing and selecting new tabs.  It may be easier to see in landscape mode.

[2016-06-22 02:20] jt-gilkeson commented on #20
https://github.com/umano/AndroidSlidingUpPanel handles the upward shadow pretty well - it casts the semi-transparent shadow onto the frame above it, not sure if something similar could be done with the bottom nav bar.

[2016-06-23 02:59] jt-gilkeson commented on #45
Created pull request to fix.

[2016-06-23 03:21] rogerou opened #48 "BottomNavigationBar.initialise()"
private void initScrollTabs(boolean isReFresh) {
        scrollingTabs.setBackgroundStyle(BottomNavigationBar.BACKGROUND_STYLE_STATIC);
        scrollingTabs.setMode(BottomNavigationBar.MODE_FIXED);
        if (!isReFresh) {
            for (BottomNavigationItem item : bottom_list) {
                item.setActiveColor(MainApplication.APP_THEME_COLOR).setInActiveColorResource(R.color.text_color_32

[2016-06-23 03:45] Ashok-Varma commented on #45
let me look in to that

[2016-07-01 12:50] silverboyir opened #49 "Using Snackbar"
Hi
how i can use snackbar when using bottom navigation in activity ?
I'm not getting any error , just its not showing , maybe its showing under the bottom bar ?

[2016-07-01 13:08] Arlem commented on #49
Hi,
have you tried using a CoordinatorLayout? Snackbar will appear at bottom of the CoordinatorLayout instead of screen.

[2016-07-01 13:10] silverboyir commented on #49
Hi
yes , parent of layout is a CoordinatorLayout , and snackbar work in other activities , that dosent have bottom navigation

[2016-07-01 13:14] silverboyir commented on #49
This is my layout :

`<android.support.design.widget.CoordinatorLayout xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    xmlns:app="http://schemas.android.com/apk/res-auto"
    android:id="@+id/coordinatorLayout"
    android:layout_width="match_parent"
    android:layout_height="match_parent"
    android:gravity="center_horizontal"

[2016-07-01 13:24] Arlem commented on #49
I do use snackbars in my app and my xml looks like this:

[code]
Snackbar appears at bottom of FrameLayout; my CoordinatorLayout has layout_height:match_parent, but I don't know if it matters.
P.S. FrameLayout is the placeholder for fragments, layout is not as simple as it looks.

[2016-07-01 13:29] silverboyir commented on #49
Thanks
this is my layout
http://codebeautify.org/xmlviewer/cb0f832f
can you please check that and say what is wrong with that ?

[2016-07-01 13:51] Arlem commented on #49
http://pastebin.com/ZmB8jERq

I copied (and adapted) your xml and this is the initialization in activity; the snackbar appears at the bottom of the scrollview.

[2016-07-02 09:19] Ashok-Varma commented on #49
@Arlem @silverboyir no need of using two co-ordinator layouts. I am pushing an update for the library to night which will take care of all those

[2016-07-02 09:20] #44 closed

[2016-07-03 14:28] Ashok-Varma commented on #49
Pushed 1.3.0 to you can use SnackBar with version 1.3.0

[2016-07-03 14:28] #49 closed

[2016-07-03 14:32] Ashok-Varma commented on #40
@fishwjy From version 1.3.0 you can still use RecylerView/NestedScroll View and call setAutoHideEnabled method to disable the feature.
[code]

[2016-07-03 14:32] #40 closed

[2016-07-04 13:51] elile opened #51 "How to set Badge after create?"

[2016-07-04 17:48] Ashok-Varma commented on #51
Create a badge add it to the NavigationItem before intialise() and just hide it till you need it.
When ever you need it to be shown call show() on badge.

refer this further details https://github.com/Ashok-Varma/BottomNavigation/wiki/Badges

[2016-07-04 18:31] Ashok-Varma commented on #48
@rogerou i didn't quite understand the problem. Can you explain it in breif

[2016-07-05 13:12] rogerou commented on #48
@Ashok-Varma  ok, the problem is that when i initialise the bottombar the second time , all the tab will
only remain the normal state , no seleted or preessed.

[2016-07-05 17:37] amanzan opened #52 "Cross-Fade animation switching views?"
Would it be possible to add a cross-fade animation when switching views, like it is stated in Material guidelines?

![bottomnav](https://cloud.githubusercontent.com/assets/3911627/16593856/6b648606-42b5-11e6-9dfe-ced668150c07.gif)

[2016-07-06 08:31] Ashok-Varma commented on #48
@rogerou call clearAll() before resetting-data something like this.
[code]

[2016-07-06 08:43] Ashok-Varma commented on #52
this library is like tabs you need to change the views as user clicks on tabs. you can you fragments and fragment to do this

[2016-07-06 09:16] rogerou commented on #48
@Ashok-Varma thanks , I have tried that ,unfortunately, it didn't work but remain blank.

[2016-07-06 09:19] rogerou commented on #48
![qq 20160706171806](https://cloud.githubusercontent.com/assets/11498513/16613222/acd7ded8-439d-11e6-8a87-8a9db2052f91.png)  like this.

[2016-07-06 11:00] Ashok-Varma commented on #48
@rogerou
clearAll() clears all the data even the navigationItems saved in my class. so you can reintiliase from scratch. But i see you are using scrollingTabs.getItems() (Custom Method) which if i am correct gives the tabs from libraries ArrayList which is empty. If you Customizing my library then in initialise() method add this at the begining.
[code]
this should slove

[2016-07-07 06:47] rogerou commented on #48
@Ashok-Varma  thanks for helping out. I found the problem is that I have set the Default Position but the tabs didn't initialise

 <pre><code>
 java.lang.IndexOutOfBoundsException: Invalid index 0, size is 0
</code></pre>

I  Commented out this：
 <pre><code>
  if (isFirstPage) {
        scrollingTabs.setFirstSelectedPosition(X_tab_position);
        viewPager.setCurrentItem(X_tab_position);
    }

[2016-07-07 07:01] rogerou commented on #48
@Ashok-Varma  And I found this
<pre><code>
    if (isInActiveIconSet) {
            StateListDrawable states = new StateListDrawable();
            //works below api 21 ,use bitmapdrawble
            states.addState(new int[]{android.R.attr.state_selected}, new BitmapDrawable(drawableToBitmap(mCompactIcon)));

            states.addState(new int[]{-android.R.attr.state_selected},

[2016-07-07 12:11] Ashok-Varma commented on #48
@rogerou the fix i told you was bug fix. So, If you do
[code]
you no need to use clearAll(). So set the fix and remove clearrAll() from your code. That works.

[2016-07-07 12:15] Ashok-Varma commented on #48
@rogerou
the fix which you mentioned is currently working in API 21 and below. There is no issue.

[2016-07-07 12:16] #52 closed

[2016-07-07 12:16] #51 closed

[2016-07-07 13:03] rogerou commented on #48
@Ashok-Varma  well,that's nice.

[2016-07-07 19:31] Ashok-Varma commented on #48
i will close this once bug fix was released

[2016-07-11 15:08] J0R1SK opened #53 "Change Activity and BottomNavigationBar will reset item 1"
Hello,

I have a problem with the behaviour of an active element when I'm back to the Activity.

For example, I have a BottomNavigationBar with 5 items in my Activity.
Let's say I click the 4th item of my bar. If I change Activity,  onBackPress, my BottomNavigationBarActivity will still be on my 4th Fragment as expected, but the active item of my bar will be the first one.

The same behaviour appe

[2016-07-11 17:42] Ashok-Varma commented on #53
the default behaviour of bottomBar is different. You shouldn't launch a new activity on click of bottom bar item. So, this change won't be done in library. But i can give you some code
[code]

[2016-07-11 21:01] jt-gilkeson commented on #45
This is still broken - If you scroll down (so bar hides), toggle hide (to show bar), then scroll down again, it does not hide the bar.

[2016-07-12 02:29] Ashok-Varma commented on #45
@jt-gilkeson This is only broken in Sample app because sample app was not updated. i need to update it. But the library bug was fixed

[2016-07-12 03:13] jordenchang55 opened #54 "FloatingActionButton can't show/hide after call setFab()"
I have 4 fragments and use BottomNavigation to switch between them.
In some fragments, I don't want to use fab, so I try to call <code>mFAB.hide()</code> to hide it.
No matter I call this method in activity or fragment, it just doesn't work, the button still there.

But if I remove the line,
<code>mBottomNavigationBar.setFab(mFAB)</code>,
the button will show/hide as expected when switching betwee

[2016-07-12 03:53] Ashok-Varma commented on #54
The Bug is due to animations. mFab.hide() uses animation to hide the fab. But at the same time since bottomBar state changed it is trying to animate fab cancelling previous animation so hide animation is stopped. i will try to fix it in upcoming release.
for now instead of
[code]
try to call
[code]

[2016-07-12 03:56] jt-gilkeson commented on #45
The library is NOT fixed.

Sorry in my steps I said scroll down - but what I meant is scroll up - (the action to hide the bottom bar).

Our app calls show() and then the bar does not hide when scrolling upwards.  If you follow the steps I provided you will see that the scrolling behavior is not working correctly after calling show.  Again to test - scroll up(in any app), call show(), then scroll u

[2016-07-12 04:03] Ashok-Varma commented on #45
@jt-gilkeson thanks i checked it now. i will push a fix mostly today/ this weekend.

[2016-07-13 17:58] flameboy commented on #53
You didn't understand, I am not launching an Activity not onClick on a bottomBar item, but inside a Fragment of a selected bottom bar item. But thank you very much for the code, I am sure that it will do the trick!

[2016-07-13 19:26] Ashok-Varma commented on #53
@flameboy the behaviour shouldn't be like that can you share me all your activity code all the part related to bottomNavBAr. i.e where are you calling this initBottomBar ..etc.

This code which i gave might solve your problem but might cause performance issues if you don't do it right. just share you code. i will have a look in to that and let you know about the issue

[2016-07-14 03:34] #48 closed

[2016-07-15 09:20] flameboy commented on #53
I am calling my initBottomBar() method only in the onCreate() part of my Activity. After, I have only one function that change the content of each tab (with fragments) as you can see in the code below.

This works really good, and I have for example a list of 10 items in my FragmentTabs4, and when I click on an item, a new Activity is opened that detail this selected item (full screen, without my

[2016-07-18 03:05] yow580111 opened #55 "HOw"

[2016-07-18 03:07] yow580111 opened #56 "How to change the text content"
Hi, there, I use gradle to compile it, and I can't figure out how to change the text beneath each icon.

[2016-07-18 03:16] #55 closed

[2016-07-18 04:45] #56 closed

[2016-07-18 09:22] ambadasgangul opened #57 "bottom navigation color"
I want to set my own color for bottom navigation background

[2016-07-18 21:51] asebak commented on #57
call the function setBarBackgroundColor

[2016-07-19 01:46] Ashok-Varma commented on #57
@asebak thanks for the support.
@ambadasgangul as @asebak said you need to use setBarBackgroundColor to set the background color.

For more customization take a look at this [wiki page](https://github.com/Ashok-Varma/BottomNavigation/wiki/Customisations)

[2016-07-19 01:46] #57 closed

[2016-07-19 12:28] rafakob commented on #38
You can always override those dimensions in your project, eg:

[code]

[2016-07-19 15:38] silverboyir opened #58 "2 floating action bar"
Hi
thanks for this great lib
i think i found a bug, when i put 2 floating action bar in page , and set them as fab , the top button behaviour very strange and getting a large margin from bottom button when bottom bar is showing

`

<android.support.design.widget.FloatingActionButton
        android:id="@+id/fab"
        android:layout_width="wrap_content"
        android:layout_height="wrap_conten

[2016-07-20 00:36] Ashok-Varma commented on #58
two fabs are not supported yet i need to think of this particular scenario.

[2016-07-20 00:37] Ashok-Varma commented on #38
@rafakob thanks for your support

[2016-07-20 00:37] #38 closed

[2016-07-22 07:16] littlemozart opened #59 "Icon color problem"
![screenshot_2016-07-22-14-55-40 1](https://cloud.githubusercontent.com/assets/18299148/17048959/69393d9e-501c-11e6-984e-4dbbe4469bf0.jpeg)
I use a picture in MainActivity as a icon of bottom item and select it. But if I use the same picture in another activity and never select it, once I touch home button to back to the desktop and then return to app,  when I return to MainActivity, the color of

[2016-07-23 12:56] silverboyir commented on #58
OK , with adding an invisible floating action button , i fixed my problem

`<android.support.design.widget.FloatingActionButton
        android:id="@+id/fab"
        android:layout_width="wrap_content"
        android:layout_height="wrap_content"
        android:layout_margin="@dimen/fab_margin"
        android:layout_gravity="bottom|end"
        app:backgroundTint="@color/blue"
        android:sr

[2016-07-24 16:59] WUDehong opened #60 "More custom style define by users"
This library is cool but it is too narrow.For example, I can't define the active icon,text color and image color can't be defined different, or the users hope only change the text color.  Hope can update in the future.

[2016-07-28 02:20] JakeWoki opened #61 "AndroidManifest remove application"
or android:allowBackup="false"

[2016-08-02 04:38] himangipatel opened #62 "Navigator for tab item"
enable to navigate tab programmatically....i want to navigate one tab to another (without touching on my device) click on some view/ want to change activate tab , deselect previous tab without touching on it

[2016-08-02 04:40] himangipatel commented on #62
![screen shot 2016-08-02 at 10 10 01 am](https://cloud.githubusercontent.com/assets/19974650/17317264/5e4b658a-5899-11e6-8ebc-8b42c7c1d0f0.png)

[2016-08-02 04:43] himangipatel commented on #62
i want to redirect on 3rd tab by clicking on add photos.
Issue : i am redirecting fragment but shoot tab is still activated. i want to active album tab on add photos click

[2016-08-02 05:10] #62 closed

[2016-08-10 03:26] crazecoder opened #63 "Can't modify the style of the tab"
Flexibility is not high, not convenient

[2016-08-21 09:19] scame opened #64 "Strange colors behaviour"
After screen rotating sometimes I get normal bottom navigation colors (as defined in XML or programmatically) and sometimes active color becomes background and background color becomes active (basically, they get swapped). Additional info: I use AppCompat NoActionBar theme with overrode colors and number of tabs changes dynamically (it's important because color changes occur after number of tabs w

[2016-08-21 09:24] Ashok-Varma commented on #64
@scame can you post your Navigation bar code so i can take a look at

[2016-08-21 09:38] scame commented on #64
here is the code https://github.com/scame/LightTube/blob/master/app/src/main/java/com/example/scame/lighttube/presentation/activities/TabActivity.java there is no code related to colors, but I tried to use java approach as well as XML to set colors. BTW bottomNavigatonBar.get***Color() methods in onStart always return identical values

[2016-08-22 08:25] scame commented on #64
as a workaround, I added these lines to the part (initSignInBottomBar method) where colors problem occurs
`bottomNavigationBar.setBarBackgroundColor(R.color.colorAccent); // this will be active color
        bottomNavigationBar.setActiveColor(R.color.colorPrimary); // and this is background`

[2016-08-22 17:30] rpandey91 opened #65 "Set selected any item programatically"
Is there any way by which I can set selected any item of bottom navigation. Please help

[2016-08-27 04:21] silverboyir opened #66 "Throw error on before snack bar dismiss"
Hi
i updated support design and other google view libs , now before dismissing the snackbar app throw an error
`java.lang.IndexOutOfBoundsException: Invalid index 6, size is 6
                                                     at java.util.ArrayList.throwIndexOutOfBoundsException(ArrayList.java:255)
                                                     at java.util.ArrayList.get(ArrayList.java:30

[2016-08-27 05:13] silverboyir commented on #66
seems problem is for FloatingActionButton and setFab method, if i not setFab , then will not have any problem

[2016-08-27 07:46] silverboyir commented on #66
This library is not compatible with com.android.support:design:24.2.0
i downgraded to 24.1.1 , and its work again

[2016-08-27 13:49] Ashok-Varma commented on #66
@silverboyir  i will check the issue

[2016-08-27 13:54] Ashok-Varma commented on #65
Use can call selectTab method on your bottomNavigationBar instance with position.
[code]

[2016-08-27 13:55] #65 closed

[2016-08-27 14:03] rpandey91 commented on #65
Thanks bhai :-)

Get Outlook for Android

On Sat, Aug 27, 2016 at 7:33 PM +0530, "Ashok Varma" <notifications@github.com> wrote:

Closed #65.

--
You are receiving this because you authored the thread.
Reply to this email directly or view it on GitHub:
https://github.com/Ashok-Varma/BottomNavigation/issues/65#event-769744358

[2016-08-28 12:04] Kshitij-Jain opened #67 "How To Hide Text?"
I Don't Want Text In Navigation Bar Like Instagram And Also Want To Reduce Size Like It?
How Can I Do It?
Thanks In Advance :)

[2016-08-28 12:10] dynamitechetan commented on #28
is this fixed?

[2016-08-31 10:55] droidery commented on #66
See https://code.google.com/p/android/issues/detail?id=220762

[2016-09-01 01:42] Ashok-Varma commented on #66
i will check with samples and it would be really helpful if you guys can create a pull request updating the sample project to reproduce the issue. So i can directly check the issue instead of trying to reproduce it.

[2016-09-01 01:46] Ashok-Varma commented on #67
if you just want no text then you can set title as empty string (""), but bottom bar won't resize. I will update to support this feature many people are asking this feature.

[2016-09-01 01:47] Ashok-Varma commented on #60
next update i will include these features

[2016-09-01 04:14] Kshitij-Jain commented on #67
Yeah Sir!
That I Know!
Please Update Sir!
Thanks In Advance :D

[2016-09-10 16:38] devgor88 opened #68 "initialise() falls"
`FATAL EXCEPTION: main
                                                                      Process: com.kechinde.likeber, PID: 20343
                                                                      java.lang.RuntimeException: Unable to start activity ComponentInfo{com.kechinde.likeber/com.kechinde.likeber.MainActivity}: android.view.InflateException: Binary XML file line #2: Error inflating

[2016-09-10 16:48] devgor88 commented on #68
`package com.kechinde.likeber;

import android.app.Activity;
import android.content.Intent;
import android.os.Bundle;
import android.view.View;

import com.ashokvarma.bottomnavigation.BottomNavigationBar;
import com.ashokvarma.bottomnavigation.BottomNavigationItem;
import com.vk.sdk.VKAccessToken;
import com.vk.sdk.VKCallback;
import com.vk.sdk.VKSdk;
import com.vk.sdk.api.VKError;

public class M

[2016-09-10 16:48] devgor88 commented on #68
`package com.kechinde.likeber;

import android.app.Activity;
import android.content.Intent;
import android.os.Bundle;
import android.view.View;

import com.ashokvarma.bottomnavigation.BottomNavigationBar;
import com.ashokvarma.bottomnavigation.BottomNavigationItem;
import com.vk.sdk.VKAccessToken;
import com.vk.sdk.VKCallback;
import com.vk.sdk.VKSdk;
import com.vk.sdk.api.VKError;

public class M

[2016-09-10 16:51] devgor88 commented on #68
[MainActivity.txt](https://github.com/Ashok-Varma/BottomNavigation/files/465513/MainActivity.txt)

[2016-09-10 16:54] devgor88 commented on #68
[main_interface.txt](https://github.com/Ashok-Varma/BottomNavigation/files/465515/main_interface.txt)

[2016-09-10 16:57] devgor88 commented on #68
Falls on call initialise(), without this call app works properly, but without bottom bar

[2016-09-11 17:14] devgor88 commented on #68
Sorry, but I will use another Bottom Bar.

[2016-09-11 17:14] #68 closed

[2016-09-12 03:35] wei3 opened #69 "How to use a selector picture？"

[2016-09-12 03:36] wei3 opened #70 "If you can provide an external interface to modify the size of the text and images"

[2016-09-12 04:31] Ashok-Varma commented on #69
[code]
ic_home_black -> in active icon.
ic_home_white_24dp -> active icon

[2016-09-12 04:31] #69 closed

[2016-09-12 04:36] Ashok-Varma commented on #70
you can override any of these values in your dimens xml.
https://github.com/Ashok-Varma/BottomNavigation/blob/master/bottom-navigation-bar/src/main/res/values/dimens.xml
[code]

[2016-09-12 04:36] #70 closed

[2016-09-12 06:14] wei3 opened #71 "from the Activity to jump to the specified fragments"
There is a demand, from the Activity to jump to the specified fragments,
If (" TAG_TAB_ORDER ". The equals (getIntent () getStringExtra (" tag "))) {
Bottom_navigation_bar_container. SelectTab (1);
} else {
Bottom_navigation_bar_container. SelectTab (0);
}

[2016-09-12 06:33] wei3 commented on #69
thankyou

[2016-09-12 08:37] Ashok-Varma commented on #71
it's basicaaly like android tab layout. Below Fragments should be handled by you.

[2016-09-12 08:37] #71 closed

[2016-09-22 06:32] wanyt opened #72 "BottomNavigation + TabLayout"
I use BottomNavigation as the bottom navigation, and use TabLayout as the top navigation in the same surface, When I complete it, I found that when I change the tab in the BottomNavigation the content haven't change. I want to know why.

[2016-09-22 06:43] wanyt commented on #72
sorry

[2016-09-22 06:43] #72 closed

[2016-09-22 06:43] wanyt commented on #72
sorry

[2016-09-27 14:55] MikeSebastianD opened #73 "App icon as tab icon without tint"
Sadly I have to ask this, the customer is resistant to any common sense or guideline. Which means I have to place a colored app icon as tab Icon, is that even possible or do I have to alter the lib for that purpose?

[2016-09-29 03:32] shingohu opened #74 "support tablet?"

[2016-09-29 14:37] Zanexess opened #75 "change textSize"
Hello! Can I change the size of text in botton bar?

[2016-09-30 17:45] st-f commented on #26
Any idea when this feature will be available? I desperately need it...

[2016-10-05 01:12] jt-gilkeson opened #76 "Please remove synthetic methods"
In AS: Analyze, Run inspection by name, Private member access between outer and inner classes
Make the changes it suggests (basically change various fields to package-local instead of private if they are accessed from inner/anonymous classes).

This will lower the method count of the library by eliminating compiler generated synthetic wrapper methods.

For more info see this:
https://realm.io/news

[2016-10-06 07:50] Ashok-Varma commented on #76
@jt-gilkeson thanks will look in to that. Great info

[2016-10-10 09:22] JNfeicui-caiwei opened #77 "does have jar for eclipse?"

[2016-10-10 10:12] youxikaifa opened #78 "how to hide tabbar"
i wanna to silde up then hide the tabbar。can do this？

[2016-10-12 15:28] Zanexess opened #79 "Incorrect Behavior when configChanges="screenSize""
I faced with problem, when I used configChanges="screenSize" in the manifest.
For example I start my application in landscape mode, then change the orientation and bottom layout has incorrect size.
Is there any workarounds?

[2016-10-13 13:18] Zanexess commented on #79
I solved it with reinit of component in onConfigurationChanged.
Don't forget to use clearall() before.

[2016-10-14 06:55] econ0mist opened #80 "Some Content is covered by BottomNavigationBar"
![help](https://cloud.githubusercontent.com/assets/22831799/19378138/fb6d15b4-9225-11e6-92d6-c65941557cf9.png)

Some Content(Green Color) is covered by BottomNavigationBar. Not work NestedScrollView, ScrollView...

[2016-10-17 08:37] Ninja-z opened #81 "how to change the bottom navigation bar's color by random?"

[2016-10-18 04:21] agramian opened #82 "Cannot swipe to dismiss SnackBar"
I see that you have provided the dismiss action button on the SnackBar in your demo app but is it possible to swipe to dismiss the SnackBar using this library?  Is there an attribute or behavior that is missing from one of the layouts that would allow this to work?

[2016-10-18 04:23] agramian opened #83 "[Feature Reqeust] Customize ripple colors"
It would be nice to be able to customize the ripple color for the bottom navigation items.

[2016-10-18 22:59] swetakadam opened #84 "How to make this scrollable ?"
I have say 15 items in menu .. how can I make it scrollable .. it all appears staggered in avl width on phone

[2016-10-19 03:38] Ashok-Varma commented on #83
you can customise ripple colors please go through wiki pages : https://github.com/Ashok-Varma/BottomNavigation/wiki/Customisations

[2016-10-19 03:38] #83 closed

[2016-10-19 03:38] Ashok-Varma commented on #81
go thgough this page : https://github.com/Ashok-Varma/BottomNavigation/wiki/Customisations

[2016-10-19 03:38] #81 closed

[2016-10-19 03:39] Ashok-Varma commented on #80
add paading to your recyclerview/nested scroll view : and set cliptoPadding property as false

[2016-10-19 03:39] #80 closed

[2016-10-19 03:40] Ashok-Varma commented on #75
you can change text by overriding the dimens file in your project

[2016-10-19 03:40] #75 closed

[2016-10-19 03:40] #79 closed

[2016-10-19 03:41] Ashok-Varma commented on #78
you can set autoHide to true

[2016-10-19 03:41] #78 closed

[2016-10-19 03:42] Ashok-Varma commented on #77
you can download from : https://repo1.maven.org/maven2/com/ashokvarma/android/bottom-navigation-bar/1.3.0/bottom-navigation-bar-1.3.0.aar

[2016-10-19 03:42] #77 closed

[2016-10-19 03:43] Ashok-Varma commented on #73
just give an active and in-active icon then it won't apply tints for them

[2016-10-19 03:43] #73 closed

[2016-10-19 03:43] Ashok-Varma commented on #63
you can override the dimens file in your project and set your own dimens

[2016-10-19 03:43] #63 closed

[2016-10-19 03:46] Ashok-Varma commented on #84
this shouldn't be used for such use cases max allowed according to google is 5. In case of 15 u can use tab_layout.

for now library is not supporting scrollable items
Thankyou

[2016-10-19 03:46] #84 closed

[2016-10-21 02:18] huwencheng opened #85 "content of the bottom will be covered"
If i set setAutoHideEnable(false)，part of the content of the bottom will be covered
![screenshot_20161021-101004](https://cloud.githubusercontent.com/assets/8435177/19584502/911c1c4e-9777-11e6-9941-9a0661f1b46e.png)
![screenshot_20161021-101634](https://cloud.githubusercontent.com/assets/8435177/19584506/9ec650bc-9777-11e6-94f6-e61315309c4a.png)

[2016-10-22 00:38] huwencheng commented on #85
thanks

[2016-10-22 10:39] mawenge opened #86 "how to set space between image and text?"
the vertical space between icon and text for a BottomNavigationItem, and other dimension?

`<?xml version="1.0" encoding="utf-8"?>
<FrameLayout xmlns:android="http://schemas.android.com/apk/res/android"
    android:id="@+id/fixed_bottom_navigation_container"
    android:layout_width="match_parent"
    android:layout_height="@dimen/fixed_height"
    android:background="?selectableItemBackgroundBord

[2016-10-23 02:23] Ashok-Varma commented on #86
the padding and other things are as per material design guidelines. you can change them by overriding respective dimens in your project

[2016-10-23 02:23] #86 closed

[2016-10-25 07:51] Yanqilong opened #87 "Cannot adjust the padding between title and image"
I cannot adjust the padding or margin between title and image, could you provide a api to adjust it? (The same to textSize)

[2016-10-26 09:47] Ashok-Varma commented on #87
change the padding in dimens

[2016-10-26 09:47] #87 closed

[2016-10-27 21:36] swetakadam commented on #84
Thanks @Ashok-Varma

[2016-11-02 06:48] hcadoid opened #88 "badges、BottomBarTab"
1.simple circle badges and don't use badges with text,Resize the circle，Can you do that?
2.Bottom Bar After initialization, you can modify the style of Bottom Bar Tab
Thank you。

[2016-11-02 07:02] hcadoid opened #89 "selectTab with bug"
After initialization selectTab (), the first Tab text or display the state.
BottomNavigationBar.MODE_SHIFTING

[2016-11-04 03:16] Ashok-Varma commented on #88
1. No, for personal customizations you can fork repo and change the things. Changing is pretty easy because the badge is separate entity by itself.
2. BottomBar can't change style after initialization. That is not recommended. But if you want you can setStyle clear and re-initialize bottom bar if you want.

[2016-11-04 03:16] #88 closed

[2016-11-08 06:18] hcadoid opened #90 "BadgeItem"
Bottom NavigationBar Adds the BadgeItem and initialized, but badge.show() or badge.hide() ，no effect。
then
mBottomBar.postDelayed(new Runnable() {
                @Override
                public void run() {
                    if(isNotice){
                        badge.show();
                    }else{
                        badge.hide();
                    }
                }
            },

[2016-11-08 10:23] Ashok-Varma commented on #90
@hcadoid call hide/show on badge, after you can intialise on bottomBar not before that.

[2016-11-08 10:23] #90 closed

[2016-11-16 06:30] izaclin commented on #82
when the bottom navigation bar hide,the snackbar can  swipe again.

[2016-11-25 22:31] amanzan opened #91 "Is it possible to disable icon animation?"
When any tab is clicked there is an icon animation even in BS_STATIC mode. Is it possible to disable this animation so that the icon remains at the same position and only changes its color?

[2016-11-26 12:50] amanzan commented on #67
it would be great to have this, I agree :)

[2016-11-27 16:03] fengyanliang opened #92 "allowbackup issue"
I used MVP clean framework, it suggest to set allowbackup=false. But this project required to set allowbackup=true.

[2016-11-27 17:48] Ashok-Varma commented on #91
It might take some time to add all these. meanwhile you can import library and comment the unwanted code.

[2016-11-28 12:49] Ufkoku commented on #26
Also need it.

[2016-12-02 07:20] sswukang opened #93 "a bug if activity recreate();"
first click on 3rd item.
then execute recreate();
the 1st item is active, not 3rd item.

[2016-12-02 11:32] hemant4524 commented on #89
Please provide solution. I am facing same issue.

[2016-12-07 09:34] Ashok-Varma commented on #89
check latest release

[2016-12-07 09:58] Ashok-Varma commented on #93
recreate() clears all recreates the bottombar thats the expected behaviour not a bug.

[2016-12-07 10:23] andrewlu1 commented on #91
need it to.please add api to disable the objanim or samply add single mode to have the anim removed.

[2016-12-14 07:20] nikunjgundaniya commented on #67
@Ashok-Varma Hey did you get a chance to remove the title & resize the tab accordingly?

[2016-12-15 06:50] adbGitHub opened #94 "no have the red dot?"
the tabItem have no red dot,or the number count?

[2016-12-15 08:58] adbGitHub opened #95 "how to set the red dot ?"
How to set the red dot, do not need to remind the number

thank you!

[2016-12-20 17:19] wea1809 opened #96 "Select Tab by code to fire onTabSelected"
first thanks for the library its very useful, second my question is exist a way to fired the onTabSelected event by code?

I use this  bottomNavigationBar.selectTab(0,true); but not works

[2016-12-20 17:20] wea1809 opened #97 "Counter on Tabs"
Exist a way to add a counter on each tab created ?

[2016-12-20 22:45] #97 closed

[2017-01-01 19:39] csbenz commented on #95
Perhaps you can customize your badge so that it shows a red dot. See https://github.com/Ashok-Varma/BottomNavigation/wiki/Badges

[2017-01-02 01:12] csbenz commented on #96
I think there's a bug: the selectTab() method works except if the first argument is 0.
This needs a fix :)

[2017-01-11 10:07] Dimezis opened #98 "Title is truncated (5 items bar)"
Hello. First of all, thank you for the library.
I have a small issue with badge title truncation when there's 5 items in bottom bar.
Please take a look at "Calendar" tab. It can be truncated even more if the screen is small.
Text size is default, icons are vector assets (24x24dp).

![image](https://cloud.githubusercontent.com/assets/1433500/21844081/9325faa8-d7ed-11e6-9283-9a375fc50165.png)

I bel

[2017-01-18 14:19] setoba1192 commented on #98
Hi, has you solved it?? I have the same issue.

[2017-01-18 15:53] Dimezis commented on #98
@setoba1192 no, I didn't try though.
To be honest I would rather switch for different bottom bar lib, because this one looks as not maintained anymore, and I'm pretty sure it's gonna be faster than trying to workaround some internal bugs.

[2017-02-02 15:32] andres-vasquez opened #99 "Add customization in more than 5 items"
Hi,
I've already used your library to build a customization feature with drag and drop navigation items like iOS.

[https://developer.xamarin.com/recipes/ios/content_controls/tab_bar/specify_customizable_tab_bar_buttons/Images/Picture_1.png](url) # iOS reference

I want to share this code because I think this could be useful for some devs like me.
So If you want, I can make a fork from your repo a

[2017-02-04 09:05] ShaouCN commented on #67
That's what I want!Hope to update soon.Thanks!

[2017-02-18 23:06] csbenz commented on #96
A quick fix is to do something like:
[code]
to select tab 0.

[2017-02-19 07:01] Ashok-Varma commented on #96
@csbenz @wea1809 hai sorry for the late reply but can you guys post your codes here for init bottomnavbar

[2017-02-19 07:03] Ashok-Varma commented on #98
it's not a bug those are design limitations for bottom nav bar. you can reduce the text size if you want. copy dimens file from project and add the attrs which ever you want to your dimens file

[2017-02-19 08:18] Dimezis commented on #98
Well, if you're talking about some design limitations, then you should know that title shouldn't be shown at all when there are > 3 items in bottom bar. At least Google says that.

But I was asked to implement it this way, and the fact that your lib supports it, was the only reason I used it.
So I would still ask you to remove that extra padding from title, or whatever is there and allow to fit 1-

[2017-02-19 19:28] Ashok-Varma commented on #98
@Dimezis people asked me to allow it so i gave it as a feature. So people with small title can use it.

This is a open source library people can customise to there needs. it's just copy the dimens file and override the changes you need in your project. Just one line of work. You can customise the library as you need

[2017-02-19 19:30] Ashok-Varma commented on #67
I am busy with some other works less time  to maintain the library. Some one of you can create a pull request i will update the project. Thanks

[2017-02-19 19:30] Ashok-Varma commented on #95
@csbenz thanks for the help.
@adbGitHub sorry for late reply indeed very late reply

[2017-02-19 19:30] #95 closed

[2017-02-19 19:32] #94 closed

[2017-02-20 01:51] csbenz commented on #96
Here is my initialization, even thought I'm pretty sure the bug comes from the line I referenced in my comment above:
[code]

[2017-02-20 02:58] Ashok-Varma commented on #96
@csbenz @wea1809 set tab selected listener before initialise to get the call back.

[2017-02-20 11:37] csbenz commented on #96
Hadn't thought about that, I'll try it later on, thanks! :)

On Mon, Feb 20, 2017, 03:58 Ashok Varma <notifications@github.com> wrote:

[2017-02-20 11:46] Ashok-Varma commented on #96
it i not sending callback because there is no listener when you are initialising it. Try that.

As of now i am closing the issue. If it's not working reopen this

[2017-02-20 11:46] #96 closed

[2017-02-22 09:59] Kunal8337 opened #102 "Does this library support Every size of Tablet?"
I am using it in my App. But now i have a requirement  that i need create an App for Tablet also with same Bottom Tab Bar Functionality.
Does this lib support Tablets?

Any help will be appreciated.
Thank you.

[2017-02-23 17:33] Ashok-Varma commented on #102
it does support tables install the sample app in tablets and check whether it suits your needs

[2017-02-23 17:33] #102 closed

[2017-02-27 08:13] satti8893 opened #103 "items from menu resource"
Currently we can add items manually. But is there anyway i can add menu resource xml file to add items?

[2017-02-28 12:06] canberkcakmak commented on #98
@Ashok-Varma  hi, i'm looking to change text size, I dont know how can i override dimens file? pls help me. By the way thanks for great lib.

[2017-03-02 08:30] ToBeNumBerTwo opened #104 "compatible problem"
when android sdk is 4.4 and api is 15 ,when init  the txt and the drawble can't be the same color,after it was selected ,color can be the same !

[2017-03-03 08:24] Kunal8337 opened #105 "Thanks for the great library. i just want to ask that Can i increase size of Bottombar Icons?"
Issue 1 : I want a bit bigger icons in Bottom Navigation Bar. Is it Possible to do it programmatically in current version?

Issue 2 : can i use only icons.? i don't want name with Icons. can we do it?

please reply ASAP. I am in the middle of it.
Thank You.

[2017-03-03 18:41] Ashok-Varma commented on #105
that pull request i will merge on sunday. then you can just use icons

[2017-03-03 18:42] Ashok-Varma commented on #104
can you please send some images. so i can see that

[2017-03-03 18:42] Ashok-Varma commented on #103
no that is not possible. menu item limit the compatibility of library so we didn't include them

[2017-03-03 18:42] #103 closed

[2017-03-03 18:44] Ashok-Varma commented on #99
Bottom Navigation bar is not good for more than 5 items navigation. In that case google recommend navigation bar

[2017-03-03 18:44] #99 closed

[2017-03-03 18:44] #93 closed

[2017-03-03 18:47] Ashok-Varma commented on #98
@canberkcakmak
check the value you need to change from this file https://github.com/Ashok-Varma/BottomNavigation/blob/master/bottom-navigation-bar/src/main/res/values/dimens.xml

in your dimens file write a new dimen => with the same name and with value you want

[2017-03-03 18:47] #98 closed

[2017-03-03 18:47] Kunal8337 commented on #105
Thanks a lot.
And what about the size of icons.. can we increase the size of it?
Once you are done on Sunday , can you send me a latest version of gradle ?

On 04-Mar-2017 12:11 AM, "Ashok Varma" <notifications@github.com> wrote:

[2017-03-03 18:50] Ashok-Varma commented on #105
yes icon size override the dimens value

https://github.com/Ashok-Varma/BottomNavigation/blob/master/bottom-navigation-bar/src/main/res/values/dimens.xml

[2017-03-03 18:50] #105 closed

[2017-03-03 20:40] andres-vasquez commented on #99
My fix doesn't include more than 5 items in navigation bar. It uses the 5th item as "More" and then includes all other items in a ListView as iOS pattern.

 If you don't consider include that option in your repo is OK.

[2017-03-07 04:40] gmfbilu opened #106 "how to control title Size?"

[2017-03-07 11:30] #106 closed

[2017-03-15 09:24] pdog18 opened #107 "Binary XML file line #2: Error inflating class <unknown>"
`mBottomBar = (BottomNavigationBar) view.findViewById(R.id.bnb);

        mBottomBar
                .addItem(new BottomNavigationItem(R.drawable.icon, "Home"))
                .addItem(new BottomNavigationItem(R.drawable.icon, "Project"))
                .addItem(new BottomNavigationItem(R.drawable.icon, "Find"))
                .addItem(new BottomNavigationItem(R.drawable.icon, "Center"))

[2017-03-15 09:31] pdog18 commented on #107
i try debug into source code;
find error  in the
class
`ShiftingBottomNavigationTab`

method
`void init()`

line 47
` View view = inflater.inflate(R.layout.shifting_bottom_navigation_item, this, true);`

then it jump to `LayoutInflater.java`
method
`inflate `and break my appilication

how can i use the bottomnavigationbar ?

[2017-03-15 12:59] Kunal8337 opened #108 "How to use only ICONS(Without Text)?"
Thanks for Great Library Sir.
I want only icons in Bottom Bar. can we do this?

[2017-03-16 03:40] canhuah commented on #91
i also need this function

[2017-03-18 16:26] Ashok-Varma commented on #107
can you send your code. xml and all code related to BottomNavBar. There is no error in code. Something in your initialisation might be wrong

[2017-03-18 16:28] Ashok-Varma commented on #108
we released a new version of the library today 1.4.1. Use that and follow the documentation

[2017-03-18 16:28] #108 closed

[2017-03-18 16:34] Kunal8337 commented on #108
Thanks

On 18-Mar-2017 9:58 PM, "Ashok Varma" <notifications@github.com> wrote:

[2017-03-20 08:28] clj12081103 opened #109 "How can I set the BadgeItem like a dot rather than a textview?"
How can I set the BadgeItem like a dot rather than a textview?

[2017-03-27 05:42] rpandey91 commented on #109
Can you please explain the issue?

[2017-03-27 05:48] clj12081103 commented on #109
I want to set the BadgeItem like a little dot without the number.

[2017-03-27 05:55] rpandey91 commented on #109
Can you provide an image for better understanding ?

[2017-03-27 05:57] clj12081103 commented on #109
![image](https://cloud.githubusercontent.com/assets/16871234/24342743/51c2beb4-12f5-11e7-80b5-d12cc0e9c8c2.png)        like this

[2017-03-27 06:02] rpandey91 commented on #109
ok, give me some time, i'll provide the solution for this.

[2017-03-27 06:03] clj12081103 commented on #109
thanks

[2017-03-27 06:56] Ashok-Varma commented on #109
@rpandey91 thanks for the support

[2017-03-27 12:00] zoltanf opened #111 "Rotation bug (possibly related to state saving)"
Sometimes when the device get's rotated several times fast it happens that the tabs get doubled or even tripled.

Here is an example:
![screenshot_2017-03-27-13-48-13](https://cloud.githubusercontent.com/assets/1464667/24355203/50f8f412-12f5-11e7-890d-d57cedc46532.jpg)

Here is another one:
![screenshot_2017-03-27-13-43-37](https://cloud.githubusercontent.com/assets/1464667/24355292/9e591e12-12f5-

[2017-03-27 18:07] Ashok-Varma commented on #111
this is not a library bug. you are adding items on every rotation. So those keep on increasing.

2 solutions

1. don't add items on rotation. (If you are save your fragment state)
2. clear the items before adding new ones. (If you need fresh fragments)

Please check the sample app

[2017-03-27 18:07] #111 closed

[2017-03-27 20:04] zoltanf commented on #111
Wish I would agree with you (it would been an easy fix) but it's not true. The tabs are added only once on view creation (the view is re-created on rotation).

[2017-03-28 11:56] Ashok-Varma commented on #111
please add the line
`mTabNavigationBar.clearAll();
`
before
[code]

and let me know the results => you are calling addItem on rotation on existing bottombar thats the bug thank-you.

[2017-03-29 05:33] dhavalkba opened #112 "Is it possible to set text size"
i have five bottom menu but problem is when i set text for every menu some text cutting like i set text for ex., home,search,bag,wishlist and account.

wishlist and account text cutting.
how can i resolve please help me.

[2017-03-29 09:38] Ashok-Varma commented on #112
refer this #38

[2017-03-29 09:38] #112 closed

[2017-03-31 11:56] rpandey91 commented on #109
@Ashok-Varma I have committed the code for the above feature, please have a look..

[2017-04-09 17:30] Gamabunta94 opened #115 "White color for setInActiveColor and setInActiveColor does not work!"
White color for tabs doesn't work because the function that parse color return -1 if the color was not found but white color in Android have -1 value!

I'm sorry, I don't speak English very well!

From my activity set -> bottomNavigationItem.setInActiveColor("#FFFFFF");

In your BottomNavigationItem class:

    /**
     * @param context to fetch color
     * @return in-active color (or) -1 if no c

[2017-04-10 06:53] Ashok-Varma commented on #115
@Gamabunta94 thanks for the report i completely forgot about this. I will fix it in the next release

[2017-04-21 05:49] echozheng1 commented on #109
I updated to 1.4.1. Why can not it? Is the code not yet submitted?

[2017-04-25 10:10] WardenAndroid opened #117 "crash “Binary XML file line #2: Binary XML file line #2: Error inflating class”"
I use this theme when the crash happened
我使用这个theme的时候发生了奔溃

[code]
Refer to the log:
参考日志：

[code]

[2017-04-26 00:59] GingerGao opened #118 "怎么用代码改变选中的Tab？"

[2017-04-27 01:44] Ashok-Varma commented on #109
@echozheng1 not merged yet

[2017-04-27 03:42] treycc opened #119 "BottomNavigationBar.selectTab(int position) dont callback the OnTabSelectedListener.onTabUnselected"
you may check, i'm not sure it's kind of bug or design

[2017-04-27 19:15] Ashok-Varma commented on #119
@treycc on selection one of these will be called onTabSelected, onTabUnselected, onTabReselected

[2017-04-27 19:15] #119 closed

[2017-04-28 03:49] wosika commented on #117
我也遇到了这个问题。在添加 item的时候崩溃了

[2017-04-29 14:08] carpediemvv commented on #118
can you speak English?

[2017-04-29 20:41] #118 closed

[2017-04-29 20:42] Ashok-Varma commented on #117
java.lang.RuntimeException: Unable to start activity ComponentInfo{com.example.bottomtest/com.example.bottomtest.EasyHomeMainActivity2}: android.view.InflateException: Binary XML file line #2: Binary XML file line #2: Error inflating class <unknown>

Issue with some class Unknow exception.can you post your xml here

[2017-04-29 20:55] treycc opened #120 "selectTab() only callback onTabSelected."
you may check these method:
1.`public void selectTab(int newPosition, boolean callListener){
selectTabInternal(newPosition, false, callListener, callListener);
}`
2.` private void selectTabInternal(int newPosition, boolean firstTab, boolean callListener, boolean forcedSelection) {
...
if (callListener) {
            sendListenerCall(oldPosition, newPosition, forcedSelection);
        }
}`
3.`priva

[2017-05-01 07:07] zyunx opened #121 "Error:Execution failed for task ':app:processDebugManifest'."
Error:Execution failed for task ':app:processDebugManifest'.

  	is also present at [com.android.support:appcompat-v7:25.3.1] AndroidManifest.xml:27:9-31 value=(25.3.1).
  	Suggestion: add 'tools:replace="android:value"' to <meta-data> element at AndroidManifest.xml:25:5-27:34 to override.

my gradle:

    compileSdkVersion 25
    buildToolsVersion "25.0.2"
    defaultConfig {
        applicationI

[2017-05-01 08:06] treycc commented on #120
and i reccommend override onSaveInstanceState and onRestoreInstanceState to save some state like currentposition for restore from killed background

[2017-05-03 07:15] Pompoml commented on #109
When plan merger

[2017-05-04 03:48] Ashok-Varma commented on #109
merge done. this weekend i will release new version with some more fixes like color white

[2017-05-12 05:56] NDPro commented on #120
me too

[2017-05-22 09:54] kjf3006 commented on #92
Please remove android:allowBackup="true" from manifest to fix this issue.

@fengyanliang a workaround until then would be:

[code]

[2017-05-25 06:50] hanqing1028 opened #122 "can't find class ShapeBadgeItem..."
hi, thank u for your BottomNacigation ,its awesome!
Now , i want to add a red dot shaped badge into my bottomitem,just like samle.Just a red dot ,without text.
However, i can't find class ShapeBadageitem in my project which is supported in your Sample like this:
`import com.ashokvarma.bottomnavigation.ShapeBadgeItem;`
`ShapeBadgeItem circularBadgeItem, sqaureBadgeItem;`
` circularBadgeItem =   new

[2017-05-25 08:28] Ashok-Varma commented on #122
it's present in 1.4.2 i will update read me

[2017-05-25 08:28] #122 closed

[2017-05-25 08:30] Ashok-Varma commented on #121
updated to 25.3.1 in 1.4.3 version which will be up in an hour. Thanks for the support

[2017-05-25 08:30] #121 closed

[2017-05-25 08:31] #117 closed

[2017-05-25 08:38] Ashok-Varma commented on #109
released 1.4.3

[2017-05-25 08:38] #109 closed

[2017-05-25 08:38] Ashok-Varma commented on #115
@Gamabunta94 done in 1.4.3

[2017-05-25 08:38] #115 closed

[2017-05-25 08:38] #104 closed

[2017-05-25 08:38] Ashok-Varma commented on #92
fixed in 1.4.3 thanks for the support

[2017-05-25 08:38] #92 closed

[2017-05-25 08:41] Ashok-Varma commented on #107
closed due to inactivity

[2017-05-25 08:41] #107 closed

[2017-05-31 06:59] hjm1fb opened #123 "进入APP, 点击 MODE_FIXED 应用crash"
05-31 14:58:56.805 13020-13020/com.ashokvarma.bottomnavigation.sample E/AndroidRuntime: FATAL EXCEPTION: main
                                                                                        Process: com.ashokvarma.bottomnavigation.sample, PID: 13020
                                                                                        java.lang.NullPointerException: Attempt to invoke virt

[2017-06-01 04:44] Ashok-Varma commented on #123
@rpandey91 can you have a look in to this issue

[2017-06-01 04:45] Ashok-Varma commented on #123
@hjm1fb please post the XML and code related to bottom navigation. It will be helpful

[2017-06-01 10:03] hjm1fb commented on #123
@Ashok-Varma  I downloaded the whole project and run it, no modification. Then that crash happened. The AS version is 2.2.2 , Android version is 6.0. And I remember that days ago, I just run the older version with no problem.

[2017-06-01 12:19] qingchen1016 opened #124 "About BottomNavigation On some devices, a delay occurs when you click an item"
First thank you for providing such a cool function，
When I add to the five items, clicking on the last one will make the entire control drop by half，

The reason may be that I used the code：`bottomNavigationBar.setAnimationDuration(0);`
I want to try to make the control
![_20170601193219](https://cloud.githubusercontent.com/assets/22384203/26679498/de8bde2a-4707-11e7-87a8-b0b40a3bc833.png)
 not lo

[2017-06-12 07:33] androidpotato opened #125 "NullPointerException"
Caused by: java.lang.NullPointerException: Attempt to invoke virtual method 'android.view.ViewGroup$LayoutParams android.widget.FrameLayout.getLayoutParams()' on a null object reference
                                                                   at com.ashokvarma.bottomnavigation.BottomNavigationTab.setIconLayoutGravityCenter(BottomNavigationTab.java:121)

[2017-06-15 08:51] shuimuqinghua opened #126 "about number in the top right corner of the icon"
Excuse me,  i want to know,this project can support number in the top right corner of the icon, like wechat？

------------------------------

I'm sorry. I found the badge! I can use the badge in the initialization,but how can I update the badge text when i do something? I can't find the mothed!

Hope you can help me, Thanks!

[2017-06-17 13:02] Pedramrn opened #127 "Auto hide/show with CollapsingToolbarLayout"
The auto hide/show does not work when adding `app:layout_scrollFlags="scroll"` to `CollapsingToolbarLayout`

Looks like other button navigation libraries have this issue too.

[2017-06-19 01:46] txxxtxx opened #128 "api26"
android last api is 26 but this repository is 25

[2017-06-19 05:47] hanhailong opened #129 "style is error"
![image](https://user-images.githubusercontent.com/4241807/27271119-7262ed6e-54f5-11e7-8599-2a263c760147.png)

the style of badge is error，the Gravity.Top | Gravity.RIGHT is invalid.  version is 1.4.3

[2017-06-19 06:57] lxnx0 commented on #38
Can someone show me how to override these dimensions? I added these value in dimens.xml, but it seems like not working for me.

[2017-06-19 09:27] Ashok-Varma commented on #38
after adding these lines you need to modify the values those are the default values so they look same.

Change the values of these as you like and check.

[2017-06-19 11:27] normalhh commented on #91
I need it, too.

[2017-06-19 23:29] JeremyHwc opened #130 "NullPointerException"
FATAL EXCEPTION: main
                                                                                        Process: com.ashokvarma.bottomnavigation.sample, PID: 13811
                                                                                        java.lang.NullPointerException: Attempt to invoke virtual method 'android.view.ViewGroup$LayoutParams android.widget.FrameLayout.getLayoutPara

[2017-06-20 00:09] lxnx0 commented on #38
Is that mean I need to edit the source file instead of just override it with my own dimens.xml file?

[2017-06-20 03:32] J1aDong commented on #130
+1

[2017-06-20 07:36] Ashok-Varma commented on #38
If you don't need animations you can use tab layout for that.

[2017-06-22 14:34] xiayibo commented on #130
+1

[2017-06-22 16:17] Ashok-Varma commented on #130
I will look in to it this weekend

[2017-06-22 21:26] JordyCuan commented on #38
@rafakob @Ashok-Varma   Hi, I have an issue, if I set this dimensions values in dimens.xml file and modify the default values I can not see a change. Can you show me how to override these dimensions? Thanks in advance

[2017-06-23 18:34] Ashok-Varma commented on #126
please check the sample

[code]
assign badge to BottomNavigationItem before init

and you can update textBadgeItem anytime. just call the methods you need it will automaticaaly update

[2017-06-23 18:34] #126 closed

[2017-06-23 18:35] Ashok-Varma commented on #129
use
[code]

instead

[2017-06-23 18:35] #129 closed

[2017-06-23 18:37] Ashok-Varma commented on #128
it's made finalised very recently most of the production apps will wait for some time to move i am updating the api in the next version V2.0 which will be released in other 10 days

[2017-06-23 18:37] #128 closed

[2017-06-23 18:39] #76 closed

[2017-06-23 18:39] #64 closed

[2017-06-23 18:39] #61 closed

[2017-06-23 18:39] #59 closed

[2017-06-24 07:52] #123 closed

[2017-06-24 07:52] #125 closed

[2017-06-24 07:52] #130 closed

[2017-06-24 12:30] rpandey91 commented on #123
Thanks Ashok, for fixing it. I was a bit busy with my office work.

Regards,
Rahul

On Jun 24, 2017 1:22 PM, "Ashok Varma" <notifications@github.com> wrote:

Closed #123 <https://github.com/Ashok-Varma/BottomNavigation/issues/123>.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub
<https://github.com/Ashok-Varma/BottomNavigation/issues/123#event-

[2017-06-25 03:23] Ashok-Varma commented on #123
@rpandey91 it's ok. i reverted all the previous commits for these features (ShapeDrawable, HideText). Rewrote both features. you can have a look

[2017-06-25 04:52] Ashok-Varma commented on #91
BS_STATIC is related the background changes not icon animation. [refer documentation](https://github.com/Ashok-Varma/BottomNavigation/wiki/Customisations)
If need to change the way animations look you need to change mode. [refer documentation](https://github.com/Ashok-Varma/BottomNavigation/wiki/Customisations)

If BS_STATIC with no animation is what needed. Then TabLayout can be used no need of t

[2017-06-25 04:52] #91 closed

[2017-06-25 04:54] Ashok-Varma commented on #67
version 2.0.0 has new modes to this. [refer documentation](https://github.com/Ashok-Varma/BottomNavigation/wiki/Customisations)

[2017-06-25 04:54] #67 closed

[2017-06-25 04:56] #66 closed

[2017-06-25 05:13] #42 closed

[2017-06-25 05:15] Ashok-Varma commented on #60
All those features are available in latest version [refer documentation](https://github.com/Ashok-Varma/BottomNavigation/wiki/Customisations)

[2017-06-25 05:15] #60 closed

[2017-06-25 05:15] #74 closed

[2017-06-25 05:39] #58 closed

[2017-07-01 06:11] iocat opened #131 "Icon does not appear in the middle of the Bottom Navigation Bar"
Hi! So the icon in the bottom navigation bar doesn't seem to align in the middle of the bar. Is there any way to fix this manually?

![screenshot_20170701-020447_01](https://user-images.githubusercontent.com/11292829/27759587-66b9db6a-5e02-11e7-9079-206940d035f9.png)

[2017-07-01 06:22] iocat commented on #131
Hi! I was able to change the positions by overriding the dimensions value! Thanks for reading. 👍

[2017-07-01 06:22] #131 closed

[2017-07-04 06:42] qingshangming commented on #127
+1

[2017-07-05 11:23] hanhailong commented on #129
**Gravity.Top | Gravity.START**

this don't work

[2017-07-05 15:46] Ashok-Varma commented on #127
@Pedramrn @qingshangming that might be bug from support library. Which version of support library is used ??

[2017-07-05 15:47] Ashok-Varma commented on #129
can you please submit your code. for the badge

[2017-07-07 09:00] yangshaopeng opened #132 "question"
你好，中间内容可以替换为fragment吗？

[2017-07-07 17:50] Pedramrn commented on #127
@Ashok-Varma I'm using the version 25.3.1

For now this can be resolved with registering a scroll linster on the recyclerview and show/hide the bottom sheet manually.

[2017-07-08 10:43] ZayinDev opened #133 "numberBadgeItem.setText(); can not update data!"

[2017-07-08 11:09] ZayinDev commented on #133
SORRY,Only the original thread that created a view hierarchy can touch its views. I forgot it. It works now!

[2017-07-08 11:09] #133 closed

[2017-07-09 05:15] aminecmi opened #134 "[BUG] Crash when adding a badge."
Hi @Ashok-Varma ,

I'm using the `2.0.1` version, and I'm having the following crash when trying to add a badge.

[code]

Here is the code that triggers it (it's Kotlin)
[code]
Is there a way to solve this ?

[2017-07-10 04:04] Ashok-Varma commented on #134
@aminecmi i will have a look at it i have no problems in java Code. In kotlin i need to have a look at it

[2017-07-10 04:07] Ashok-Varma commented on #132
Yeah you can. It's up to you based on callBacks you can do that

[2017-07-10 04:07] #132 closed

[2017-07-10 05:54] Ashok-Varma commented on #134
@aminecmi verified i am on it

[2017-07-10 05:55] aminecmi commented on #134
Thanks!

[2017-07-10 08:34] xianjun-liu opened #135 "branch master, version 1.4.3 was crashed when I was open app"
Caused by: java.lang.NullPointerException: Attempt to invoke virtual method 'void android.widget.FrameLayout.setBackgroundDrawable(android.graphics.drawable.Drawable)' on a null object reference
                                                                       at com.ashokvarma.bottomnavigation.BottomNavigationHelper.setShapeBadgeForTab(BottomNavigationHelper.java:166)

[2017-07-10 13:43] Ashok-Varma commented on #135
current branch master_v2 and V2.0.1 mostly all the merges from outside are reverted and i re-wrote the code again. Please try this branch and check

[2017-07-10 13:43] #135 closed

[2017-07-10 17:53] Ashok-Varma commented on #134
Fixed in 2.0.2. With in an hour it will be up.

[2017-07-10 17:53] #134 closed

[2017-07-10 20:28] aminecmi commented on #134
Can confirm. This fixes the issue.

[2017-07-11 02:54] xianjun-liu opened #136 "No static field fixed_bottom_navigation_icon_container"
java.lang.NoSuchFieldError: No static field fixed_bottom_navigation_icon_container of type I in class Lcom/ashokvarma/bottomnavigation/R$id; or its superclasses (declaration of 'com.ashokvarma.bottomnavigation.R$id' appears in /data/app/com.tianxi66.zxgb-1/base.apk:classes2.dex)
                                                                       at com.ashokvarma.bottomnavigation.FixedBottomNav

[2017-07-11 03:41] Ashok-Varma commented on #136
which version are you using and send the sample code as well

[2017-07-13 02:13] AndroidJohnsonWang opened #137 "Hope to add a method that sets the Icon size"
bottomNavigationBar.setMode(BottomNavigationBar.MODE_FIXED_NO_TITLE);
        bottomNavigationBar.setBackgroundStyle(BottomNavigationBar.BACKGROUND_STYLE_STATIC);
        bottomNavigationBar.addItem(new BottomNavigationItem(R.mipmap.a1, "home").setInactiveIconResource(R.mipmap.aa1))
                .addItem(new BottomNavigationItem(R.mipmap.b1, "tree").setInactiveIconResource(R.mipmap.bb1))

[2017-07-13 03:20] Ashok-Varma commented on #137
can you post the icon size. Because these are as recommended by the Google and since you are using only 4 tab items, there is no way that icon will be small.

Issue can be
1) Your Icon might have two much padding in the file. (i.e free space)

please attach your icon and as well as your bottom nav screenshot with layout bounds enabled

[2017-07-13 05:59] AndroidJohnsonWang commented on #137
My solution is to rewrite the dimens attribute to solve this problem, my Icon does not meet the Google recommended standards, but this is my company decided to use the icon, I can not change this, is now rewriting the following two attributes solved problem:
 <dimen name="fixed_no_title_icon_height">42dp</dimen>
    <dimen name="fixed_no_title_icon_width">42dp</dimen>
Thank you.

[2017-07-13 09:01] Ashok-Varma commented on #137
Good to know you have done it.
But this library clearly focuses on following google guideLines. Made in such away that people who needs other than default can customise using dimens files. But for most(>99%) who are looking for default behaviour, this should be as clean as possible without any Confusions.

Thanks

[2017-07-13 09:01] #137 closed

[2017-07-16 15:33] SailFlorve commented on #54
Yeah I have the same case and met this bug, longing for fixing it!

[2017-07-18 09:51] victorjaviermartin opened #138 "How I can change the Font size??"
I need to do the font small. How I can do this? Thanks

[2017-07-19 12:47] Ashok-Varma commented on #138
you can override dimens values in your project.

Check this project's dimens file and override the values you need in you project

[2017-07-19 12:47] #138 closed

[2017-07-20 15:23] chipsCode opened #139 "sample error at 2.0.1"
**Before the change**
[code]
**After the change**

[code]
**The error log**
[code]

[2017-07-20 15:46] chipsCode commented on #139
Oh, no problem with 2.0.2

[2017-07-20 15:46] #139 closed

[2017-07-21 08:14] MagicYeyu opened #140 "Initial state, the first icon is missing"
Why do I have this situation?
![qq 20170721161008](https://user-images.githubusercontent.com/24306940/28454861-586294ac-6e2f-11e7-9741-a6428534c179.png)

[2017-07-27 06:03] MagicYeyu commented on #140
@Ashok-Varma can you help me?

[2017-07-28 01:02] #136 closed

[2017-07-28 01:03] Ashok-Varma commented on #140
post the sample code and the icons here. i will have a look

[2017-08-02 22:52] jt-gilkeson opened #141 "Text is too high up for bottom bar"
The guidelines call for the text to be aligned at the bottom with 10dp underneath.    This library had the bottom of the text higher than that (like 12 - 13 dp)

The problem with this is that the text is too high and the icons will not have a gap between them and the top of the text if you use the full 24x24.  Also the spacing below the text looks awkwardly larger than it should be.

If you take a

[2017-08-03 10:08] Ashok-Varma commented on #141
I think thats it's due to TextView in Built Padding. I will have a look at it

[2017-08-03 10:09] yan493483722 opened #142 "Can we set the custom view to bottom layout or margin ?"
for example : I  want to change this xml file "fixed_bottom_navigation_item"  to custom layout ,Because the image too close to TextView. In Other language ,they too close . Hope can provide  channel to custom view Or set Margin  Between ImageView and TextView . thanks.

[2017-08-03 10:50] Ashok-Varma commented on #142
you can import the project and change the layout for custom behaviours.
Similar Enhancement was requested check if that will solve your needs => #141

[2017-08-03 10:50] #142 closed

[2017-08-03 21:22] jt-gilkeson opened #143 "Sample app crashes when you rotate phone"
Process: com.ashokvarma.bottomnavigation.sample, PID: 985
                                                                                    java.lang.IllegalArgumentException: Parameter specified as non-null is null: method kotlin.jvm.internal.Intrinsics.checkParameterIsNotNull, parameter view
                                                                                        at com.ashokvar

[2017-08-04 02:44] yan493483722 commented on #142
According you advice and the issue #141 advice. I override those dimensions in my project , it works . thanks a lot.
this is my dimensions:
 <dimen name="fixed_label_active">12sp</dimen>
 <dimen name="fixed_height_bottom_padding">7dp</dimen>

[2017-08-07 04:42] ymback commented on #140
Maybe you set active color to white. Set bnbActiveColor and bnbInactiveColor in xml.
你看看你设置的颜色吧，肯定是颜色没设置或者设置成白色了。
XML里用bnbActiveColor和bnbInactiveColor，试一下。

[2017-08-07 10:07] xiang23 opened #145 "TextBadgeItem length error"
![image](https://user-images.githubusercontent.com/14964761/29022324-76d3d2c4-7b9b-11e7-8db5-46c0447b56f8.png)

run on
![image](https://user-images.githubusercontent.com/14964761/29022281-38001b52-7b9b-11e7-8993-5531ccc87ff9.png)

how to fix it?

[2017-08-09 09:39] QinjianXuan opened #146 "item's width too small when item size less than 3"
BottomNavigationHelper --> getMeasurementsForFixedMode --> line 40
int maxWidth = (int) context.getResources().getDimension(R.dimen.fixed_min_width);

It will work normal as long as you change fix_min_width to fix_max_width .

[2017-08-21 08:35] qingchen1016 commented on #124
After my verification, I found the problem should be the cause of the phone and my layout was written in question
thanks again

[2017-08-21 08:35] #124 closed

[2017-08-21 10:18] SailFlorve opened #147 "Fab can't put above bottom bar after running app"
![qq 20170821181553](https://user-images.githubusercontent.com/25448499/29515005-2bf7ca6e-869d-11e7-9ce5-f2bc43665e70.png)

[2017-08-21 10:20] SailFlorve commented on #147
when I scroll recyclerView one and then the bottom bar hide and shown, it works fine.

[2017-09-05 09:40] gmfbilu opened #148 "the badge can be replaced by the resources images?"

[2017-09-06 10:56] Ashok-Varma commented on #148
nope at this time may be in the next release i will plan to include this feature

[2017-09-07 02:39] gmfbilu opened #149 "the badge can't be visibled in xiaomi and huawei but meizu is ok，and your example is fine in xiaomi and huawei？"
shapeBadgeItem = new ShapeBadgeItem()
                .setShape(SHAPE_OVAL)
                .setShapeColorResource(R.color.colorRed)
                .setGravity(Gravity.TOP | Gravity.END)
                .setHideOnSelect(false);

        mBottomNavBar.addItem(new BottomNavigationItem(R.drawable.tab_homepage_active, "首页").setInactiveIconResource(R.drawable.tab_homepage_inactive))
                .a

[2017-09-08 04:52] zhengfei commented on #121
Manifest merger failed : Attribute meta-data#android.support.VERSION@value value=(25.3.1) from [com.android.support:design:25.3.1] AndroidManifest.xml:27:9-31
  	is also present at [com.android.support:appcompat-v7:26.0.0-alpha1] AndroidManifest.xml:27:9-38 value=(26.0.0-alpha1).
  	Suggestion: add 'tools:replace="android:value"' to <meta-data> element at AndroidManifest.xml:25:5-27:34 to override

[2017-09-18 06:25] pdog18 commented on #107
@Ashok-Varma
when i use theme like this ,change the theme' parent
[code]
the crash can be reappear

//xml
[code]

//activity
[code]

//manifest
[code]

[2017-09-18 23:08] Tryptich commented on #121
@zhengfei  use the same versionin the graddle file, the version 26.0.xxx is not good enough to work with it, use 25.3.1 like that

    compile 'com.android.support:design:25.3.1'
    compile 'com.android.support:support-v4:25.3.1'

[2017-09-23 16:07] Pravesh701 commented on #121
Error:Execution failed for task ':app:processDebugManifest'.

  	is also present at [com.android.support:recyclerview-v7:25.3.1] AndroidManifest.xml:24:9-31 value=(25.3.1).
  	Suggestion: add 'tools:replace="android:value"' to <meta-data> element at AndroidManifest.xml:25:5-27:41 to override.
same problem please help me

com.anroid  mean

[2017-10-01 21:57] sajadabasi opened #150 "how change the font of bottombar?"
Hello,
Thank you for your great library
how can I change the typeface(font) of the bottom bar text?
thank you.

[2017-10-06 08:10] githubGhoul opened #151 "selectTab() The color of the TAB does not change"
The method fragment is called, but the TAB does not switch, and there is no other way

[2017-10-07 15:57] OpenSourceMIUI opened #152 "What is the life cycle of fragment after initialization?"
When initialization is complete, why not load any fragment life cycle?

[2017-10-07 16:01] OpenSourceMIUI opened #153 "Is fragment just instantiated?"
Is fragment just instantiated once? I want to do logical processing in the life cycle method of the fragment

[2017-10-09 03:33] Ashok-Varma commented on #153
this is similar to tablayout in android this library won't handle your fragments. You will just get the callbacks and you can do what ever you want with your fragments during callbacks.

[2017-10-09 03:33] #153 closed

[2017-10-09 03:38] Ashok-Varma commented on #152
we want to keep the library independent of fragments, because people use different approaches for this :
1. Fragments
2. Custom Views
3. Dagger & Mortar
4. many old code bases use custom implemented fragment alternatives

[2017-10-09 03:38] #152 closed

[2017-10-09 03:39] Ashok-Varma commented on #151
can you please post your sample code for reference

[2017-10-18 11:34] hosseinjafari9574 commented on #150
it's my question too.

and is it possible to change the text size? it's a bit unusual in persian.

thanks in advance

[2017-10-18 18:20] Ashok-Varma commented on #150
currently not supported. I might add this feature in next update

[2017-10-19 03:40] chshp1234 opened #154 "version2.0.3"
我把版本2.0.2升级到2.0.3会出现问题
![image](https://user-images.githubusercontent.com/31475629/31753291-3a1f0320-b4c2-11e7-8893-0ec90a0ef1e9.png)

[2017-10-19 18:06] Ashok-Varma commented on #154
That might be issue with support libraries. Which support library are you using ??

[2017-10-19 21:41] hosseinjafari9574 commented on #150
thanks alot.

by the way, your lib is great and also your description about how to use is
very helpful😊

On Wed, Oct 18, 2017 at 9:50 PM, Ashok Varma <notifications@github.com>
wrote:

[2017-10-20 00:43] chshp1234 commented on #154
26.0.2,
compile 'com.android.support:appcompat-v7:26.0.2'
        compile 'com.android.support.constraint:constraint-layout:1.0.2'
        testCompile 'junit:junit:4.12'
        compile 'com.android.support:recyclerview-v7:26.0.2'
        compile 'com.android.support:cardview-v7:26.0.2'

[2017-10-20 01:35] Ashok-Varma commented on #154
Try the new 26.1.0 support-lib version.
Even then if it is not working remove the library and check. So that we can conform whether the issue is with the library

[2017-10-20 01:35] #151 closed

[2017-10-20 01:58] chshp1234 commented on #154
找到问题了，解决了，多谢回答！！

[2017-10-20 02:08] #154 closed

[2017-11-06 17:27] DaniloFurtado opened #155 "Put long click listener on a menu like Instagram."
can I put a long click listener on a menu item?
I need to implement a menu of multiple user profile just like instagram.

[2017-11-30 04:42] jyjiawohao opened #156 "mBottomNavigationBar.selectTab(positeio);动态切换,有时候不管用"
mBottomNavigationBar.selectTab(positeio);动态切换的时候只改变底部文字颜色 ,没有走onTabSelected(int position)监听的方法 切换fragment

[2017-12-13 09:20] Phoca opened #157 "Badge cut off on phones"
Hi everyone,

The badge is cut off to the right when using the library with the following settings and configuration:
- Smartphone (no Tablet) in portrait mode
- Mode set to FIXED_NO_TITLE
- 5 Items displayed

I reproduced the issue in your sample app. A screenshot is attached so you can see what I mean.
![image](https://user-images.githubusercontent.com/3438255/33930760-47e39550-dfee-11e7-9129-82

[2017-12-13 09:56] Ashok-Varma commented on #157
You can change the size of the badge item to fix that.

[2017-12-13 10:28] Phoca commented on #157
I'm using a HTC one m8, which has a Full HD display on 5 inches diagonal size, so not really low dpi.
Removing the padding in the `fixed_bottom_navigation_item.xml` layout file fixed the problem for me. Since the container has a fixed width and the content is centered, do I miss something or is it safe to just remove the padding? It looks good on my phone at least.
See [this commit ](https://githu

[2017-12-13 12:10] Ashok-Varma commented on #157
removing padding might fix the issue but the component will no longer follow the material guidelines. in the given constraints we can't do much. you can try decreasing the size of the badge. thankyou

[2017-12-13 12:10] #157 closed

[2017-12-27 04:06] whb7762300 opened #158 "Binary XML file line #0: Binary XML file line #0: Error inflating class com.ashokvarma.bottomnavigation.BadgeTextView"
when i use compilesdk 26,it will crash: Binary XML file line #0: Binary XML file line #0: Error inflating class com.ashokvarma.bottomnavigation.BadgeTextView
but it's no problem at compilesdk 25

[2017-12-27 09:46] Ashok-Varma commented on #158
u might be using different versions of support-libraries. Latest version of library uses 27.0.2 please update your libraries and check

[2017-12-27 10:10] whb7762300 commented on #158
@Ashok-Varma thanks,I compile support_lib 26.1.0,but I still find support_lib 27.0.2 in external libraries.I don't know why(maybe about glide4.4.0),but thanks a lot

[2017-12-27 14:04] Ashok-Varma commented on #158
if you are using latest version of this library then you need to compile with 27 and all other libraries you use also should use in 27 support_lib.

because gradle will automatically replace all support libraries with which ever is highest. if you are using 10 libraries it will pick the highest support library of all of them and apply it to all 10 libraries. so one needs to maintain all libraries

[2017-12-27 14:04] #158 closed

[2018-01-03 07:52] arronvera opened #159 "how to change the icon's width?"
how to change the icon's width?

[2018-01-04 03:42] Ashok-Varma commented on #159
Icons width is as per google guidelines. if you want small size you can add padding to icon image itself, check if your icon has paddings and remove them to make it big

[2018-01-04 03:42] #159 closed

[2018-01-04 03:45] arronvera commented on #159
I want to make it bigger

[2018-01-04 04:15] Ashok-Varma commented on #159
you can remove padding from the icon image to make it larger.

This is good tool to generate icons the way you like
https://romannurik.github.io/AndroidAssetStudio/icons-generic.html

[2018-01-05 01:57] Dosicker commented on #141
106/5000
Hi,bro.
Wǒ kěyǐ tíchū yīgè xiǎo jiànyì, zhīchí textview jí Title(wénzì) yǔ icon(túbiāo) zhī jiān de jùlí shèzhì
hé BottomNavigationbar de gāodù zì dìngyì shèzhì rúhé? Wǒ juédé zhèyàng zi huì gèng línghuó yīdiǎn, gèng ràng rén xǐ'ài?
hi, bro.
I can make a small suggestion that supports the textview and Title (text) and icon (icon) distance settings
And BottomNavigationbar height customizat

[2018-01-05 02:01] Dosicker opened #160 "Small suggestions"
Hi,bro.
Wǒ kěyǐ tíchū yīgè xiǎo jiànyì, zhīchí textview jí Title(wénzì) yǔ icon(túbiāo) zhī jiān de jùlí shèzhì
hé BottomNavigationbar de gāodù zì dìngyì shèzhì rúhé? Wǒ juédé zhèyàng zi huì gèng línghuó yīdiǎn, gèng ràng rén xǐ'ài?
hi, bro.
I can make a small suggestion that supports the textview and Title (text) and icon (icon) distance settings
And BottomNavigationbar height customization setti

[2018-01-05 08:51] Dosicker commented on #160
Thank you Varma BottomNavigationbar sharing, on the above problem has been to find the corresponding solution, you can use the reflection to get you have packaged BottomNavigationbar various components display, and then customize the style changes, I am very grateful!

[2018-01-06 11:52] LOG-TAG commented on #103
it will be grateful if we get like this app:bbn_entries="@menu/bottombar_menu_4items" https://github.com/sephiroth74/Material-BottomNavigation

[2018-01-19 10:15] ADsuper opened #161 "Make the middle item convex , How to do? or Make the middle item full"

[2018-01-21 13:45] Ashok-Varma commented on #161
@ADsuper didn't get what you need. Can you brief what you need ??

[2018-01-23 06:15] whb7762300 commented on #119
I foud the same problem,onTabSelected will callback ,but onTabUnselected not callback sometimes

[2018-01-28 12:34] saharvx9 opened #162 "Change size and LP of the text"
I try to change the text and the LP like this:
[code]

It dosent works maybe someone have any solution how to do it?

[2018-02-26 10:08] ntaloventi opened #163 "how to check why bottom bar became double"
i have no ide why some time bottombar items became double?
sry if my english not well
[https://drive.google.com/open?id=187ahT9wYb3FPzabx_A44sf1UeMlIpq4v](https://drive.google.com/open?id=187ahT9wYb3FPzabx_A44sf1UeMlIpq4v)

[2018-02-27 04:49] Ashok-Varma commented on #163
may be you are adding items multiple times (addItem(......)). If so please do clearAll() before reading items

[2018-02-27 04:49] #163 closed

[2018-02-27 18:57] ntaloventi commented on #163
sry late resp, i'm sure just call once, badge are change during api request, can i know how to log or test for debug proccess, thanks in advance

[2018-03-01 06:17] Ashok-Varma commented on #163
Try calling clearAll() before adding items. If it solves the bug then code is being called more than once.

If that solution didn't solve the issue then please share your code and also the method in which you wrote the code.

[2018-03-01 06:18] ntaloventi commented on #163
ty, i will try ur recomendation

[2018-03-08 08:48] huangbryant210707 commented on #26
How to make the shape of the little red dots round

[2018-03-08 08:48] huangbryant210707 opened #164 "about red dots"
How to make the shape of the little red dots round

[2018-03-27 08:24] koushik16github opened #165 "auto hide not working in CoordinatorLayout"

[2018-04-02 18:27] shubhtrino opened #166 "How to set padding between icon and text ?"

[2018-04-11 02:21] goadsth opened #167 "how to disable one of the tab,otherwise I have to reset the checked tab"
for example,here is a,b,c,d,e four tabs,I don't want c be selected when user clicking it

[2018-04-16 01:45] Ashok-Varma commented on #167
as of now no such feature was in the library

[2018-04-16 01:46] Ashok-Varma commented on #166
padding was set based on android material design guidelines. you want extra padding, adjust the icon

[2018-04-16 01:46] #166 closed

[2018-04-16 01:47] Ashok-Varma commented on #165
I will work in CoordinatorLayout. Can you post your xml here

[2018-04-16 01:49] Ashok-Varma commented on #164
Badges ??
You have many options to customise Badges. [Check Badges Documentation (wiki)](https://github.com/Ashok-Varma/BottomNavigation/wiki/Badges)

[2018-04-16 01:49] #164 closed

[2018-04-16 01:49] #162 closed

[2018-04-16 01:50] #161 closed

[2018-04-16 01:50] #160 closed

[2018-04-16 01:50] #156 closed

[2018-04-16 01:52] #53 closed

[2018-04-18 12:05] z244370114 opened #168 "add Set the font style method"
public void setTextTypeFace(Typeface textTypeFace) {
        for (int i = 0; i < mTabContainer.getChildCount(); i++) {
            BottomNavigationTab bottomNavigationTab = (BottomNavigationTab) mTabContainer.getChildAt(i);
            if (bottomNavigationTab instanceof FixedBottomNavigationTab) {
                ((FixedBottomNavigationTab) bottomNavigationTab).setTypeFace(textTypeFace);

[2018-04-23 07:07] Lrony opened #169 "Can i cancel the Animation ?"
Hi, thanks for you provide the nice lib!
I think there's animation when switch Item, no conform Material Design.
can you provide CancelAnimation Void? Or now have a other methods?
Thx!

[2018-04-23 07:32] Lrony commented on #169
I fixed the Issues
I delete `animationDuration` in `select` and `unSelect`.
But, all animation haven't...
I do try other method...

[2018-04-24 01:50] caoanqi opened #170 "图标文字间距离"
hello

图标文字间距离应该如何设置？

thanks

[2018-04-26 06:51] ZayinDev commented on #138
it works,thanks.

[2018-05-08 01:05] wZuriel commented on #170
<dimen name="fixed_height_bottom_padding">8dp</dimen>

在dimens.xml里面加上这个属性就可以了

[2018-05-15 02:57] GreenhairTurtle opened #171 "It doesn't make sense to remember the position of the tab when the screen rotates"
The Manifest is default without any changes

This problem has little effect, but it would be better if it could be repaired with only minor changes

[2018-05-15 06:57] liuxiaofeng8888 commented on #170
padding was set based on android material design guidelines. you want extra padding, adjust the icon
老哥用英文呀  人家之前的issue 也说了

[2018-05-23 11:01] kushanshah11 opened #173 "Is It possible with this Lib?"
How can i do like this with this lib?

![test1](https://user-images.githubusercontent.com/18567763/40420702-c9ff31b6-5ea6-11e8-94a1-2e98609ce9fa.PNG)
![test2](https://user-images.githubusercontent.com/18567763/40420703-ca2c3bd4-5ea6-11e8-97ea-2a9dcc701cce.PNG)

[2018-05-30 22:13] raylee4204 opened #174 "[Feature Request] Ability to adjust badge's edge's horizontal / vertical margins seprately"
I'd like to be able to adjust badge's margins separately for horizontal and vertical

[2018-06-12 00:50] liu1070832898 opened #175 "Why is there an inverted triangle in the transparent background?"
![fdh2 vk p kf5np8 oh g9h](https://user-images.githubusercontent.com/29189440/41264118-8f345012-6e1d-11e8-99f6-ae7a8cb10253.png)

[2018-06-12 04:35] Ashok-Varma commented on #175
I think it's because of android system shadow.

1. Try adding bnbElevation=0 in your xml to BottomNavigationBar.
2. If you are not using xml for you can add "bottom_navigation_elevation" to your dimens file with 0 as value

[2018-06-12 04:35] #175 closed

[2018-06-21 17:54] fajaranugrah opened #176 "How to change image icon"
hallo I want to ask how bottombar is active and not active just replace the image?
thank you

[2018-06-24 17:31] Ashok-Varma commented on #176
please refer [wiki](https://github.com/Ashok-Varma/BottomNavigation/wiki/Customisations#6-bottomnavigationitem-icon-customisations)

[2018-06-24 17:31] #176 closed

[2018-06-29 02:02] likealeodog opened #177 "MODE_FIXED_NO_TITLE"
In this mode, the circle badge in the top right corner of the home icon on the bottom navigation bar is cut.

[2018-06-30 07:20] fajaranugrah opened #178 "Got cut on title name bottom bar"
hello sir can you help me how to fixed this
![image](https://user-images.githubusercontent.com/38461162/42122737-13ffa4ea-7c79-11e8-9ea9-2d7aa9cade15.png)
i want put text string "Requests" but i try show "Re-"
thank you

i try on your apps demo but got cut on using "Mode Fixed"
![device-2018-07-02-104411](https://user-images.githubusercontent.com/38461162/42142978-298a3ca4-7de5-11e8-8aba-7d20eec5d

[2018-07-10 03:49] Ashok-Varma commented on #178
@fajaranugrah according to material design guidelines. We shouldn't use long names in bottom navigation. In sample i placed it to check the limits of Library

1. Never use bottom navigation if you have more than 5 items. [Refer](https://material.io/design/components/bottom-navigation.html#usage)
2. [Refer the text labels section in this](https://material.io/design/components/bottom-navigation.html

[2018-07-10 03:49] #178 closed

[2018-07-10 03:51] Ashok-Varma commented on #173
It's not yet possible with this lib

[2018-07-10 03:51] #173 closed

[2018-07-10 14:54] likealeodog commented on #177
@Ashok-Varma Hello!See the image,the place where I painted the red circle is what I said.Just a small problem.

![20180710224228](https://user-images.githubusercontent.com/17841723/42517967-8f0b8f88-8493-11e8-9c0f-78468fd8c02b.png)

[2018-07-11 11:17] fajaranugrah commented on #178
but only one sentence is reduced like "Requests", may you help me because i
already use BottomNavigation but i am confused to change the icon
thank you

On Tue, Jul 10, 2018 at 11:49 AM, Ashok Varma <notifications@github.com>
wrote:

[2018-07-11 17:31] Ashok-Varma commented on #178
@fajaranugrah how many tabs are you using in bottom sheet ??

One thing you can try is to change the text size you can override the text sizes from the library

[2018-07-12 02:07] fajaranugrah commented on #178
5 tabs
how to change the text size?

On Thu, Jul 12, 2018 at 1:31 AM, Ashok Varma <notifications@github.com>
wrote:

[2018-07-12 16:54] Ashok-Varma commented on #178
[Check these dimens](https://github.com/Ashok-Varma/BottomNavigation/blob/master_v2/bottom-navigation-bar/src/main/res/values/dimens.xml)

just add dimens in your project with same name and the value you need. It will be overridden automatically

[2018-07-16 06:45] fajaranugrah commented on #178
thanks sir its work

On Fri, Jul 13, 2018 at 12:54 AM, Ashok Varma <notifications@github.com>
wrote:

[2018-07-17 09:42] mitsest opened #179 "Get item's view"
## Question

- [x] Wiki Home (https://github.com/Ashok-Varma/BottomNavigation/wiki)
- [x] Customisations (https://github.com/Ashok-Varma/BottomNavigation/wiki/Customisations)
- [x ] Behaviour and Animations (https://github.com/Ashok-Varma/BottomNavigation/wiki/Behaviour-and-Animations-Settings)
- [x] Badges (https://github.com/Ashok-Varma/BottomNavigation/wiki/Badges)
- [x] Fab & SnackBar (https:/

[2018-07-17 10:22] Ashok-Varma commented on #179
@mitsest sorry, we are not exposing the views. So we can keep the library clean and also to avoid confusion to the users.

yeah, if only method needs to be exposed. i recommend you to fork the library and do the changes needed.

[2018-07-17 10:22] #179 closed

[2018-07-19 10:04] TsuiYC commented on #177
fixed_bottom_navigation_item.xml/shifting_bottom_navigation_item.xml
Delete (paddingLeft&paddingRight) of the first FrameLayout.

[2018-07-19 10:11] TsuiYC commented on #177
@Ashok-Varma The problem is not on the device. When you use more than 5 items, this will also appear.

[2018-07-25 00:34] #177 closed

[2018-07-25 10:41] wodx521 opened #180 "Increase attribute settings"
Is it possible to increase the setting of the image size setting and the font size style in the control, as well as the setting of the spacing between the image and the text?

[2018-07-26 05:13] fajaranugrah opened #181 "Bug on label naming"
the bug its first times open the apps label naming bottom navigation to small but if i click the bottom tab he back to normal

![image](https://user-images.githubusercontent.com/38461162/43242735-55b395ac-90d5-11e8-89f4-4cdb4299934e.png)

![image](https://user-images.githubusercontent.com/38461162/43242801-aee4f90e-90d5-11e8-82ca-82b0a820a30e.png)

like this

Version com.ashokvarma.android:bottom-

[2018-07-26 12:33] Ashok-Varma commented on #181
@fajaranugrah  thats an feature not a bug. Please check [this Link](https://github.com/Ashok-Varma/BottomNavigation/wiki/Customisations) fo rreferance

[2018-07-26 12:33] #181 closed

[2018-07-26 19:30] Deandrew007 opened #182 "Set Current Item"
Hey, I understand that you want the library to be independent of Fragment implementation.
 However, my first fragment isn't visible unless another tab is clicked, then reselect the first tab and the fragment is shown. Any possible suggestions?

[2018-07-27 07:04] Ashok-Varma commented on #182
you can try this after initialise().
[code]

But, Can you publish your code. you might be adding listener after init().

[2018-07-27 07:04] #182 closed

[2018-08-06 09:14] 306244907 opened #183 "I really want to cry！！！About text size！！！"
I really want to cry！！！
Big brother, why don't you provide a way to set the text size！
I'm just a beginner of android development!
I have spent a whole day trying to solve the problem of setting text size!
Oh, my god, I'm going crazy！

[2018-08-08 12:35] a923295735 commented on #183
try this, big brother.
 /*
     * @param bottomNavigationBar，需要修改的 BottomNavigationBar
     * @param space 图片与文字之间的间距
     * @param imgLen 单位：dp，图片大小，应 <= 36dp
     * @param textSize 单位：dp，文字大小，应 <= 20dp
     *
     *  使用方法：直接调用setBottomNavigationItem(bottomNavigationBar, 6, 26, 10);
     *  代表将bottomNavigationBar的文字大小设置为10dp，图片大小为26dp，二者间间距为6dp
     *  https://www.jianshu.com/p/feab12806ba2

[2018-08-09 12:45] Ashok-Varma commented on #180
duplicate - #70

[2018-08-09 12:45] #180 closed

[2018-08-09 12:46] Ashok-Varma commented on #183
duplicate - #70

refer issue no #70 for solution

[2018-08-09 12:46] #183 closed

[2018-08-12 09:02] CheckCoder opened #184 "How to stack another control on the top of the Bottomnavigationbar"
How to stack another control on the top of the Bottomnavigationbar, Bottomnavigationbar seems to have been on the upper floor, thank you!

[2018-08-13 02:53] #184 closed

[2018-08-16 06:40] LLQQHH opened #185 "how to cancle the click effect，when"
## Question

- [ ] Wiki Home (https://github.com/Ashok-Varma/BottomNavigation/wiki)
- [ ] Customisations (https://github.com/Ashok-Varma/BottomNavigation/wiki/Customisations)
- [ ] Behaviour and Animations (https://github.com/Ashok-Varma/BottomNavigation/wiki/Behaviour-and-Animations-Settings)
- [ ] Badges (https://github.com/Ashok-Varma/BottomNavigation/wiki/Badges)
- [ ] Fab & SnackBar (https://

[2018-08-16 06:41] LLQQHH opened #186 "how to cancle the click effect，when you click tab,the background will be circle"
## Question

- [ ] Wiki Home (https://github.com/Ashok-Varma/BottomNavigation/wiki)
- [ ] Customisations (https://github.com/Ashok-Varma/BottomNavigation/wiki/Customisations)
- [ ] Behaviour and Animations (https://github.com/Ashok-Varma/BottomNavigation/wiki/Behaviour-and-Animations-Settings)
- [ ] Badges (https://github.com/Ashok-Varma/BottomNavigation/wiki/Badges)
- [ ] Fab & SnackBar (https://

[2018-08-16 06:42] #185 closed

[2018-08-20 10:34] rdoeffinger opened #187 "No keyboard navigation?"
**Describe the bug**
It does not seem possible to select navigation items via keyboard or TV D-Pad?

**To Reproduce**
- Compile sample (have to comment out most of the TextFragment stuff since it does not compile)
- Start it in emulator
- Navigate using the cursor keys (or the D-Pad emulation if using a Android TV image)
- Notice that there is no way to select a different tab using the keyboard, t

[2018-08-22 08:14] #187 closed

[2018-08-23 11:59] jofifora opened #192 "My label does not appear in full when the text length is more than 9"
My label does not appear in full when the text length is more than 9

[2018-08-26 03:40] 1-riverfish opened #193 "Why the color of barbackground and Active exchange?"
## Question

- [yes ] Wiki Home (https://github.com/Ashok-Varma/BottomNavigation/wiki)
- [yes ] Customisations (https://github.com/Ashok-Varma/BottomNavigation/wiki/Customisations)
- [ yes] Behaviour and Animations (https://github.com/Ashok-Varma/BottomNavigation/wiki/Behaviour-and-Animations-Settings)
- [ no] Badges (https://github.com/Ashok-Varma/BottomNavigation/wiki/Badges)
- [ no] Fab & Snack

[2018-08-26 03:42] 1-riverfish commented on #193
![color_exchange](https://user-images.githubusercontent.com/27009694/44624601-10783e80-a925-11e8-8088-6485f44bf840.PNG)

[2018-08-26 03:43] 1-riverfish commented on #193
<com.ashokvarma.bottomnavigation.BottomNavigationBar
        android:id="@+id/bottom_navigation_bar"
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        app:bnbActiveColor="#FFFFFF"
        app:bnbInactiveColor="#303F9F"
        app:bnbBackgroundColor="#3F51B5"
        app:layout_constraintBottom_toBottomOf="parent"
       />
Here is my settings

[2018-08-26 03:54] Ashok-Varma commented on #193
Go through this : [wiki](https://github.com/Ashok-Varma/BottomNavigation/wiki/Customisations#code-snippet-example-2)

[2018-08-26 03:54] #193 closed

[2018-08-26 03:55] Ashok-Varma commented on #192
How many tabs You have in total ??

[2018-08-27 08:35] WangYiOS opened #194 "Hi, dear author, look at this question"
I'm sorry. Let's start with the question,
![snip20180827_58](https://user-images.githubusercontent.com/17872114/44649539-cd969380-aa16-11e8-8284-18c9fb46e18f.png)

When I select it, can I make it the same size as the default
Please reply to me when you have time. This question is very important to me

Finally, thanks to your library, I like you！

[2018-08-27 08:50] WangYiOS commented on #194
怎么设置为：
点击高亮的按钮，不要放大
当点击按钮高亮时，和没点击灰色的按钮，所有的字体大小怎么保持为一致大小

[2018-08-29 07:30] jofifora commented on #192
I have 4 tabs in my navigation..

On Sun, 26 Aug 2018, 11:55 Ashok Varma, <notifications@github.com> wrote:

[2018-08-30 01:48] jofifora commented on #192
im using xiaomi redmi 3s (android 6.0.1, API 23)

[2018-08-30 17:11] Ashok-Varma commented on #192
can you attach screenshots and also code

[2018-08-30 17:51] jofifora commented on #192
this one when i using virtual devices nexus 5 x API 19
![screenshot_1535649956](https://user-images.githubusercontent.com/8015222/44868486-8251de80-acbd-11e8-9766-906799b15a47.png)

and this when i using xiaomi redmi 3s API 23 (physical device)
![screenshot_2018-08-31-01-12-34-170_com tempjo kupangevent](https://user-images.githubusercontent.com/8015222/44868964-efb23f00-acbe-11e8-8190-50d3f68a212

[2018-08-31 01:42] Ashok-Varma commented on #192
WE are supposed to use short labels - [Material Design Guidelines](https://material.io/design/components/bottom-navigation.html#anatomy)

But you can try one of these
1. use MODE_SHIFTING
2. you can change text size from dimens.xml (just override them => use same name and give what dimen you need in your project dimens file)

[2018-08-31 01:42] #192 closed

[2018-08-31 02:56] jofifora commented on #192
Thank you very much..
I prefer to change dimens file.. and finally succeded..

On Fri, 31 Aug 2018, 09:42 Ashok Varma, <notifications@github.com> wrote:

[2018-09-07 01:14] LuckyLee458 opened #195 "the "com.ashokvarma.android:bottom-navigation-bar:2.0.5" can't start up with API23 and the lower version"
when the AVD start up with the API23 and the lower version,the MainActivity throw the java.lang.RuntimeException:android.content.res.Resources$NotFoundException: Resource ID #0x7f060055.

but it is perfect with the API24 and higher version.
I have read the 'readme' file ,but nothing can help.
so,I can't solve the problem right now,please help.

[2018-09-07 01:27] Catherinelhl opened #196 "set Margin"
How to customize the width of each item, I did not show complete on this side, the blank place is not used.

[2018-09-07 10:09] Ashok-Varma commented on #196
Can you post an example screen. It follows the Material GuideLines. If you want to customise it you can change the dimens file always.

[2018-09-07 10:10] Ashok-Varma commented on #195
Can you post more stacktrace ??

[2018-09-08 11:17] Catherinelhl commented on #196
Then do I need to write it myself or do you provide an entrance?

[2018-09-10 01:12] LuckyLee458 commented on #195
Yes,Here is the stacktrace printed in the Logcat:

**at com.example.administrator.myapplication12.MainActivity.onCreate(MainActivity.java:63)
the 63 line in my program is the '.initialise()' function.**
 --------- beginning of crash
09-10 01:05:08.886 4510-4510/com.example.administrator.myapplication12 E/AndroidRuntime: FATAL EXCEPTION: main
    Process: com.example.administrator.myapplication12,

[2018-09-24 07:03] DevKang opened #197 "Can I remove touch feedback when select navigation Item?"
**Describe the bug**
Strange animation on touch navigation items

**To Reproduce**
following is my code
[code]
when touch navigation item, animation starts to feedback.
but, like screenshot bottom, around text and icon image does not look normal

Can I remove touch effect ?

**Screenshots**
![report](https://user-images.githubusercontent.com/2010236/45940119-163f6d80-c012-11e8-9f81-150942ae2fef.pn

[2018-09-24 09:27] Ashok-Varma commented on #197
Can you share both XML and Code. May be fork this repo and update sample so i can debug the issue

[2018-09-28 07:02] jjjjbababy opened #198 "firstPosition question"
bottomNavigationBar.addItem(new BottomNavigationItem(R.drawable.home_icon_selected, getString(R.string.news))
                .setInactiveIconResource(R.drawable.home_icon_normal))
                .addItem(new BottomNavigationItem(R.drawable.ask_icon_selected, getString(R.string.ask))
                        .setInactiveIconResource(R.drawable.ask_icon_normal))
                .addItem(new BottomN

[2018-09-28 07:03] jjjjbababy commented on #198
The callback  position=0 doesn't  invoke

[2018-09-30 16:09] Ashok-Varma commented on #198
Because you called initialise before setting listener. Call initialise after listener

[2018-09-30 16:09] #198 closed

[2018-10-18 16:54] Radaeld opened #199 "How to choose a initial position diferent from the 0?"
I tried using select tab with other position
but it doesnt do anything the screen just turns black

[2018-10-22 06:25] WiiliamChik opened #200 "Fatal Exception: java.lang.IllegalStateException: Cannot start this animator on a detached view!"
i get this crash in frabic report. please help.

`Fatal Exception: java.lang.IllegalStateException: Cannot start this animator on a detached view!
       at android.view.RenderNode.addAnimator(RenderNode.java:858)
       at android.view.RenderNodeAnimator.setTarget(RenderNodeAnimator.java:277)
       at android.view.RenderNodeAnimator.setTarget(RenderNodeAnimator.java:261)
       at android.animat

[2018-10-23 08:34] yulin1995 opened #201 "Cannot be displayed visually in the activity_main.xml.(Error Message:Failed to instantiate one or more classes)"
## Question

- [ ] Wiki Home (https://github.com/Ashok-Varma/BottomNavigation/wiki)
- [ ] Customisations (https://github.com/Ashok-Varma/BottomNavigation/wiki/Customisations)
- [ ] Behaviour and Animations (https://github.com/Ashok-Varma/BottomNavigation/wiki/Behaviour-and-Animations-Settings)
- [ ] Badges (https://github.com/Ashok-Varma/BottomNavigation/wiki/Badges)
- [ ] Fab & SnackBar (https://

[2018-10-27 03:19] Ashok-Varma commented on #200
can you send me sample setup. Support libraries you are using Etc.

Support libraries are updated in new library version. Please try new library and check once

[2018-10-27 03:28] Ashok-Varma commented on #195
@LuckyLee458 seems like resourse which is sent to library is not available. can you send me your initialisation code

[2018-10-29 04:34] Ashok-Varma commented on #201
@yulin1995  can you upload code. Or fork this project and try to reproduce it

[2018-10-30 14:37] MajaPamukovic commented on #45
Hi, this issue is still present in library versions 2.0.5 and 2.1.0. Any chance this will be fixed in the near future?

[2018-11-01 08:16] CotTan opened #202 "How does the effect of the bumps come true?"
How does the effect of the bumps come true?
As shown：
![default](https://user-images.githubusercontent.com/11958737/47840373-06752f00-ddf1-11e8-937a-19ed6edb7af0.png)
The middle button goes beyond the current BottomNavigationBar.

[2018-11-08 06:39] Ashok-Varma commented on #200
It shouldn't cause the issue. But it can be anyway next week I am moving the libraries to Androidx. you guys can update to that

[2018-11-08 17:00] ahmadmust8 commented on #54
it work if you write it like this

[code]

[2018-11-08 17:05] ahmadmust8 commented on #147
you have to use it in this way :
```  bottomNavigationBar.setFab(fab)```

[2018-11-09 02:57] #147 closed

[2018-11-17 07:01] xiaotengteng commented on #120
you may add this method in BottomNavigationBar.java
public void selectTab(int newPosition, boolean callListener, boolean forcedSelection) {
        selectTabInternal(newPosition, false, callListener, forcedSelection);
    }

and call this method  selectTab(position,true,false);

[2018-11-17 22:17] ilkerfindik opened #204 "[BUG] Selected Tab is not updated when "Back" button of the device is pressed"
### **DESCRIPTION**
**To Reproduce**
1- When I am on one activity(Browse Activity),
2- I click a tab for another activity(Saved Activity),
3- Then I go back with the emulator's back button / or with Back buttons on real devices,
4- See Error

**Expected Behavior**
Tab should highlight Browse Activity again

**Obtained Result:**
Saved Activity's tab is still highlighted as active, but actually app

[2018-11-20 02:30] Ashok-Varma commented on #204
@ilkerfindik You are supposed to use the Bottom nav bar in an activity. and on click you need to replace the fragments in the same activity.(1 activity and 4 fragments)
But you are launching a new activity on tap of BottomNavaBar.

[2018-11-20 02:30] #204 closed

[2018-11-20 02:34] Ashok-Varma commented on #202
Those are not supported by the library as of now

[2018-11-20 02:34] #202 closed

[2018-11-20 02:34] #201 closed

[2018-11-20 02:34] #200 closed

[2018-11-20 05:06] #195 closed

[2018-11-20 10:30] ilkerfindik commented on #204
@Ashok-Varma  Can you please give some examples with code? Or better, update the documentation for others as well? Because the documentation isn't that thorough, and your sample app quits the app on pressing Back.

I couldn't find out how I will write my on tab listener.

[2018-11-20 21:32] ilkerfindik commented on #204
@Ashok-Varma Your sample app quits the app on pressing Back

[2018-11-21 09:00] Ashok-Varma commented on #204
@ilkerfindik  that's because the fragments are being replaced and that's the intended behaviour.

If you want to go back to old fragment on click of back you can read about (Fragment BackStack)

[2018-11-21 13:40] ilkerfindik commented on #204
@Ashok-Varma  I believe wiki/documentation could be improved a little more, not everything is clear to new developers. For example on the wiki we have:
[code]
        bottomNavigationBar.setTabSelectedListener(new BottomNavigationBar.OnTabSelectedListener(){
            @Override
            public void onTabSelected(int position) {
            }
            @Override
            public void onTab

[2018-11-22 10:05] Khareesh0892 opened #206 "Is there a way to show tooltip on long press of tab item ?"
Like reddit does, is there a possibility to show tooltip on long press of navigation tab item? Our use case is not to show labels every time because it looks redundant for old users.

So, from android documentation i could see that it can be set through xml as `android:tooltipText="ToolTip"` and from code it can be set as `view.setTooltipText("ToolTip");`. I don't understand how to `setTooltipText

[2018-12-05 08:23] Xudanli2809 opened #208 "setBackgroundStyle()"
when the setBackgroundStyle() is set that "BACKGROUND_STYLE_STATIC", the click effect of item also has water ripple? is it a bug ? or can you tell me how to set currently.

[2018-12-05 14:19] Ashok-Varma commented on #208
you need to set it before initialise() call is made.

[2018-12-05 14:19] #208 closed

[2018-12-24 08:34] LLQQHH commented on #186
sorry，my English is poor，i don't want the water ripple when i click the item.but can't cancel that effect.

[2018-12-24 08:34] LLQQHH commented on #186
![image](https://user-images.githubusercontent.com/19651932/50394623-bc2d8000-0799-11e9-859f-280599a54bd7.png)

[2018-12-27 10:46] CotTan commented on #202
What time is possible？

[2018-12-27 13:54] KayeJing opened #209 "how to add a view on bottombar？"
## Question

The_ button is blocked.
![image](https://user-images.githubusercontent.com/10123395/50482494-d4173500-0a21-11e9-8cc4-18b7c0e244ed.png)

[2018-12-30 02:05] Ashok-Varma commented on #186
@LLQQHH this library is as per material design guidelines. Any personalisation can be made by overriding the xmls

[2018-12-30 02:05] #186 closed

[2018-12-30 02:07] Ashok-Varma commented on #209
@KayeJing
If above content is scrollable you can use this. Else you need to give margin to the view with button
'bottomNavigationBar.setAutoHideEnabled(false);'

[2018-12-30 02:07] #209 closed

[2019-01-21 09:44] shiwobuhaoma opened #210 "lag phase(slow) on android 8.0 system，why?"
**Describe the bug**
ViewPager +Fragment + BottomNavigationBar , selecting tab , speed change slow on android 8.0,but under the 8.0 no like this.Very strange . If you slide on the viewpage by gesture , speed is OK.

**Expected behavior**
i don't know why select tab very slow on android8.0 ,i hope to smooth.

**Device Info (please complete the following information):**
 - Device: [ HUAWEI]
 - OS: [

[2019-01-23 13:01] #210 closed

[2019-02-23 06:20] zhaowenliang commented on #146
please fix it！

[2019-03-05 08:07] liuhuiAndroid commented on #70
useful

[2019-03-06 12:04] renaldi2108 commented on #136
@Ashok-Varma when we get this problem, what should i do ?? Is it because of the version of the gradle I'm using or what ??

[2019-03-14 13:40] huyaoqing1995 opened #211 "How to remove BadgeItem when num is zero?"
## Question

- [ ] Wiki Home (https://github.com/Ashok-Varma/BottomNavigation/wiki)
- [ ] Customisations (https://github.com/Ashok-Varma/BottomNavigation/wiki/Customisations)
- [ ] Behaviour and Animations (https://github.com/Ashok-Varma/BottomNavigation/wiki/Behaviour-and-Animations-Settings)
- [ ] Badges (https://github.com/Ashok-Varma/BottomNavigation/wiki/Badges)
- [ ] Fab & SnackBar (https://

[2019-03-15 01:59] huyaoqing1995 commented on #211
Thanks~ I've found it.

[2019-03-15 01:59] #211 closed

[2019-04-04 08:03] AnShiHui commented on #89
i am facing :startActivityForResult(requestcode),but in method "onActivityResult",selectTab(position) is useless. so it is "show()";

[2019-04-29 06:20] huyaoqing1995 opened #212 "How can I disable tab view scale animation?"
How can I disable tab view scale animation?

[2019-04-29 11:58] gauraviqlance opened #213 "How to set active and inactive Images with selector of image not color ? or how to set active as well as inactive drawble direct you mention that inactive drable only..."
## Question

- [ ] Wiki Home (https://github.com/Ashok-Varma/BottomNavigation/wiki)
- [ ] Customisations (https://github.com/Ashok-Varma/BottomNavigation/wiki/Customisations)
- [ ] Behaviour and Animations (https://github.com/Ashok-Varma/BottomNavigation/wiki/Behaviour-and-Animations-Settings)
- [ ] Badges (https://github.com/Ashok-Varma/BottomNavigation/wiki/Badges)
- [ ] Fab & SnackBar (https://

[2019-05-02 16:26] DineshNeupane commented on #213
I also faced the same issue. The mentioned method is not working in latest version.

[2019-05-11 07:12] kangshaopeng opened #214 "bottomItem"
If there are 5 tags, the title can only display up to 3 words.

[2019-05-11 10:54] FynnJason opened #215 "How do I set the text on the right side of the icon on the left"
hello,How do I set the text on the right side of the icon on the left.

[2019-05-15 07:22] jagadishlakkur opened #216 "Ripple effect background is not changing"
<com.ashokvarma.bottomnavigation.BottomNavigationBar
            android:layout_width="match_parent"
            android:layout_height="wrap_content"
            android:layout_gravity="bottom"
            android:layout_alignParentBottom="true"
            app:bnbMode="mode_shifting"
            app:bnbBackgroundStyle="background_style_ripple"
            android:id="@+id/bottom_nv_view"

[2019-05-21 10:45] seyyed-amir opened #217 "How can i get item by position in onTabSelected?"
## Question
hello

How can i get item by position in  onTabSelected?

thank you for this  code.

[2019-06-04 06:23] ftyan805614 opened #218 "How to adjust the distance between picture and font"
The spacing between pictures and fonts is too close.

[2019-06-11 03:49] Ashok-Varma commented on #216
Hi Jagadish https://github.com/Ashok-Varma/BottomNavigation/wiki/Customisations please follow wiki for customisations

[2019-06-11 03:49] #216 closed

[2019-06-11 03:50] Ashok-Varma commented on #213
Hi Guys can you please share the code that i can look at

[2019-06-11 03:52] #213 closed

[2019-06-11 03:53] Ashok-Varma commented on #215
You mean badges ?? or the title ?

For badges refer : https://github.com/Ashok-Varma/BottomNavigation/wiki/Badges
For Title : This library wont support that

[2019-06-11 03:53] #215 closed

[2019-06-11 03:54] Ashok-Varma commented on #214
Yeah the titles in bottom navigation bar according to google design guideline should be small.
I will have a look at that, Can you share the titles you are setting ?

[2019-06-11 03:54] #214 closed

[2019-06-11 03:55] Ashok-Varma commented on #217
Hi seyyed which item do you need ? Clicked position you can get from the listener

[2019-06-11 03:55] #217 closed

[2019-06-11 03:57] Ashok-Varma commented on #218
all those spaces are from dimens.xml. Any setting can be overridden from your project to change those.

[2019-06-11 03:57] #218 closed

[2019-06-11 03:58] Ashok-Varma commented on #212
If no animations are need you can you TabLayout from google directly. Can you share your code. so i can have a look at.

[2019-06-11 03:58] #212 closed

[2019-06-11 04:00] #149 closed

[2019-06-11 04:01] #145 closed

[2019-06-11 04:02] Ashok-Varma commented on #206
Right now now i can create a listener for long press i guess

[2019-06-11 04:30] kangshaopeng commented on #214
![1](https://user-images.githubusercontent.com/17898347/59243864-b0991d00-8c44-11e9-9b42-3caa13530159.png)

[2019-06-11 05:40] Ashok-Varma commented on #214
Soory @kangshaopeng , Long Titles can't be displayed by the BottomNavigationBar.

[2019-06-24 02:15] a615696671 opened #219 "NotFoundException Resource"

[2019-07-10 03:58] jackandroid2016 opened #220 "大佬，什么时间适配androidX"
## Question

- [ ] Wiki Home (https://github.com/Ashok-Varma/BottomNavigation/wiki)
- [ ] Customisations (https://github.com/Ashok-Varma/BottomNavigation/wiki/Customisations)
- [ ] Behaviour and Animations (https://github.com/Ashok-Varma/BottomNavigation/wiki/Behaviour-and-Animations-Settings)
- [ ] Badges (https://github.com/Ashok-Varma/BottomNavigation/wiki/Badges)
- [ ] Fab & SnackBar (https://

[2019-08-01 03:29] mxfeng opened #221 "Middle raised effect"
Can you add a middle bump effect?
Is there a shadow effect when the middle is raised?

[2019-08-05 11:42] lingbaeryi-strong opened #222 "不支持左图右文吗"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2019-08-28 09:54] aiynmm commented on #67
I just want to hide the only one label of the tabs and leave the icon alone,  what should I do for this purpose?

[2019-08-28 10:11] aiynmm commented on #67
update:
I find the release v1.4.1 can solve my problem! I don't pass label property use the construtor that only have icon property of BottomNavigationItem!

[2019-09-28 14:47] jobscz opened #223 "Hi , How to close all default animations ? Because I don't want to use animaitons."

[2019-11-15 07:57] helloworld10010 commented on #167
i need it too

[2019-12-01 01:41] #219 closed

[2019-12-01 01:42] Ashok-Varma commented on #221
no @mxfeng that is not available. Can you post an image for reference

[2019-12-01 01:42] #221 closed

[2019-12-01 01:43] Ashok-Varma commented on #223
you can modify library dimens params to fit the needs. set active and inactive to same numbers in order to achieve this

[2019-12-01 01:43] #223 closed

[2019-12-27 08:30] neabea opened #224 "How to canel click Icon scale animation"
怎么取消点击放大图标动画

[2019-12-27 10:07] #224 closed

[2019-12-27 10:17] neabea opened #225 "FixedMode layout match error"
I set BottomNavigationBar android:layout_height="100dp"， app:bnbMode="mode_fixed",
and set dimens  <dimen name="fixed_height">100dp</dimen>
but bottombar don't match 100dp ,fixed layout height just keep 56dp ,Why? how to resolve it?

[2019-12-27 10:18] neabea commented on #225
set fixed_height dimens 100dp

[2020-01-25 01:43] zeeshanrasool91 commented on #167
same here i need it to

[2020-03-05 03:09] jereter opened #226 "sample运行闪退"
--------- beginning of crash
2020-03-05 10:58:36.086 2232-2232/com.ashokvarma.bottomnavigation.sample E/AndroidRuntime: FATAL EXCEPTION: main
    Process: com.ashokvarma.bottomnavigation.sample, PID: 2232
    java.lang.RuntimeException: Unable to start activity ComponentInfo{com.ashokvarma.bottomnavigation.sample/com.ashokvarma.bottomnavigation.sample.HomeActivity}: android.view.InflateException:

[2020-06-04 09:50] lpf1389185322 opened #227 "繁体简体 切换能不能 放出 item集合，外部控制文字显示繁体简体"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-06-24 17:03] davenotdavid commented on #150
Any chance in getting this feature out anytime soon?

[2020-08-12 09:04] ffyyxx opened #228 "After initialise, is there a way to directly set the click event of calling the navigation bar?"
Use selectTab() to set a different newPosition, which will cause the bottom navigation to not correspond to the fragment

[2020-08-28 05:12] #228 closed, assigned to nobody

[2020-10-19 04:21] Ashok-Varma commented on #150
Hi @DaveNOTDavid this project is not being developed actively. I'm maintaining with latest support updates but no new features are in plan.

[2020-10-19 04:22] Ashok-Varma commented on #226
Hi @jereter are you still facing this issue. Can you help me with sample code

[2020-10-19 04:22] Ashok-Varma commented on #226
Please reopen if you are still facing this issue

[2020-10-19 04:22] #226 closed, assigned to nobody

[2020-10-28 03:47] jesse920524 commented on #70
this library is better than android official BottomNavigationView.
respect to the author!

[2020-11-03 00:51] cjecky commented on #222
你好，左图右字是怎么实现的？给个思路吧，谢谢

[2020-11-03 02:09] #227 closed, assigned to nobody

[2020-11-03 02:10] Ashok-Varma commented on #225
Hi @neabea this is as per material design guidelines. It's restricted to 56dp.

[2020-11-03 02:10] #225 closed

[2020-11-03 02:10] #222 closed

[2020-11-03 02:11] Ashok-Varma commented on #222
hi @cjecky plz open a new issue

[2020-11-03 02:15] cjecky opened #229 "hello，How to realize the right character in the left picture"
like [this[](url)](url
![@DUA)ZYHCI%1NXP2@)GD))S](https://user-images.githubusercontent.com/9523241/97938841-742c0b00-1dbd-11eb-8ad1-3eaddea264a5.png)
)
thanks

[2020-12-04 05:06] lutao2599 opened #230 "中间凸起效果"
请问，是否支持中间凸起效果呢？

[2020-12-17 05:09] bodekjan opened #232 "Where is the API document ???"
It seems a good stuff because 4200 people give you star.

[2020-12-28 09:32] pranishres opened #233 "Is there a way to decrease font size of the menus?"
In some devices, I am facing the incomplete text of menu issue. Is there a way to decrease the font size of the menu?

[2021-02-09 06:33] Ashok-Varma commented on #232
Hi @bodekjan API document is not available currently
You can view [documentation in the WIKI](https://github.com/Ashok-Varma/BottomNavigation/wiki)

[2021-02-09 06:33] #232 closed, assigned to nobody

[2021-02-09 06:34] Ashok-Varma commented on #230
[code]
No @lutao2599 this library doesn't support that

[2021-02-09 06:34] #230 closed, assigned to nobody

[2021-02-09 06:35] Ashok-Varma commented on #229
Hi @cjecky, can you elaborate ?

[2021-02-09 06:36] #220 closed

[2021-02-09 06:38] Ashok-Varma commented on #233
Hi @pranishres

you can override dimens from your project ([library dimens](https://github.com/Ashok-Varma/BottomNavigation/blob/master/bottom-navigation-bar/src/main/res/values/dimens.xml))

[2021-02-09 06:38] #233 closed, assigned to nobody

[2022-03-23 08:15] Alanqiu commented on #150
Are font sizes now supported?